---
title: Blog
layout: page
pageOrder: 10
---

.blog
  each doc in getCollection('posts').toJSON()
    section(class="post")
      header
        a(href=doc.url)= doc.title
        div= doc.date.toDateString()
      article= doc.content
