---
title: "Historia"
layout: page
pageOrder: 3
subpages: 'om'
summary: "Vår historia är kantad av drömmar som blivit verklighet. Vi jobbar med teknik för att vi älskar det och för att användare inte ska behöva reflektera över den."
---


h3 Vår historia är kantad av drömmar som blivit verklighet. Vi jobbar med teknik för att vi älskar det och för att användare inte ska behöva reflektera över den.


.history
  .year 1995
  p Iteam grundas 1995. Vi den här tiden heter vi Iteam Konsult, och grundarna är fyra klasskamrater från Bromma.
  p Omvärld: Samma år offentliggörs programmeringsspråket Java, och Microsoft släpper Windows 95. Den som 1995 är hängiven teknikfantast köper såklart till ”Plus! För Windows” för att få med webbläsaren Internet Explorer i sin dator. Sveriges radio lanserar digitalradio som andra land i världen, efter Storbrittanien. Runt om i värden händer det också mycket - Finland, Sverige och Österrike blir medlemmar av EU, som därmed har 15 medlemsstater. Svensk industri slår lönsamhetsrekord, bästa första halvåret sendan sedan 1978. Playstation lanseras i Europa och USA och eBay grundas. Det är en spännande tekniktid som står framför oss.
  iframe(width="640",height="480",src="//www.youtube.com/embed/5VPFKnBYOSI",frameborder="0",allowfullscreen)
  img(src="/content/images/ebayborn.jpg",width="640")


.history
  .year 1997
  p Iteams första community släpps - Slussen (stil.nu). Reportage,bilder och kommentarer. Embryo till t-rex. Votedoor.com molntjänst för omröstningar på nätet. Iteam förutser ny uppfinning "mp3-spelare" som senare dokumenteras i intervju med mp3.com.
  p Omvärld: IBMs Deep Blue besegrar Garry Kasparov i schack. Såhär ser det ut på MTV
  iframe(width="640",height="480",src="//www.youtube.com/embed/AFtmGwxbIq0",frameborder="0",allowfullscreen)


.history
  .year 1998
  p Telia Attend är en personlig telefonassistent utvecklad av Iteam. Den köps av Viking Telecom och ödps till CaroLine. Telia distribuerar Caroline under namnet Telia Attend. Iteam myntar ordet IT-Arkitekt och byter namn till Iteam Solutions AB
  img(src="/content/images/CaroLine.jpg",width=600)
  p Omvärld: iMac släpps. XML 1.0 lanseras med lysande framtidsutsikter. Google kommer in i vår värld detta år med sin sökmotor. Hur stort Google ska bli förstår ingen ännu.


.history
  .year 1999
  p Iteam är med i stora satsningar med .com bolag. Vi gör Proof-of-Concepts och utvecklar prototyper i utbyte mot delägarskap. Ett av projekten är Green Community som skulle skapa virtuell valuta för aktiva miljöval.


.history
  .year 2000
  p Iteam skapar den första versionen av Maestroo. Maestroo är en radio för kontor där alla medarbetare väljer sin egen musik - och Maestroo mixar och spelar. Musik, radio och nytänkande inom webbradio och webbmusik har legat oss varm om hjärtat allt sedan dess. Det här året föds också Iteams eget CMS TRex.
  img(src="/content/images/trexlogosmall.png")
  p Omvärld: Kanal5 får en av Sveriges första CMS installationer. Första Ajax-applikationen skapas.


.history
  .year 2001
  p Iteam bygger <a href="/case/tomsradio">Tomsradio</a>, världens första fullt personiferade, <a href="http://en.wikipedia.org/wiki/Tomsradio.com">interaktiva station på nätet</a>. Tomsradio utnämns till världens bästa radio av internet World


.history
  .year 2002
  p .NET gör sitt intåg i programmeringsvärlden och Iteam blir certifierade partners. 3G tekniken gör sitt intåg i Sverige och Iteam äger två av de allra första telefonerna och utvecklar positioneringskomcept och den första fungerande mobila on demand musikstreaming-appen för tre. Iteam börjar med krypterad epost.
  p Musiken var bättre än någonsin
  iframe(width="640", height="480", src="//www.youtube.com/embed/bORRM0LNa6s",frameborder="0",allowfullscreen)


.history
  .year 2003
  p Iteam TRex blir en av Sveriges första certifierade produkter i .NET och soundshuttle blir en av världens första molnbaserade ljudförsäljningsplattformar. Nomineras i .NET Awards.
  p Tredje generationens iPod hittar ut på marknaden.
  img(src="/content/images/ipod3rd.png")


.history
  .year 2004
  p Iteam växer, utvecklas och fortsätter brinna för tekniken. Vi jobbar med projektet Teknikspanarna, en kampanj av teknikföretagen för att stimulera teknik bland mellanstadieelever. Iteam står för teknik och koncept. Teknikspanarna vinner IDG's Siriuspris. Absolut blir kund detta år och vi blir också Episerver-partner.
  p Omvärld: Thefacebook - eller Facebook som det numera heter - kommer in i webbvärlden med buller och bång.
  img(src="/content/images/facebookborn.jpg")


.history
  .year 2005
  p Iteams TRex blir en B2B-plattform och affärssystem för ehandel. TRex får integrationsmoduler till Bankgirocentralen, Posten och betalningar vid DIBS. Iteam vinner Red Dot Awards i Tyskland för <a href="/case/absolutforum">Absolut Forum</a>.
  p Omvärld: YouTube lanseras.
  img(src="/content/images/youtubeborn.png")


.history
  .year 2006
  p Absolut är stor kund hos Iteam och vi nomineras i .NET-Awards för <a href="/case/absolutforum">Absolut Forum</a>. Detta år myntar vi också begreppet teknikbyrå.
  p Omvärld: Spotify grundas.


.history
  .year 2007
  p iPhone släpps och Iteam blir snabbt Apple-partner. TRex blir community-plattform och <a href="/case/shakemyworld">Shake My World</a>utmanar i dejtingsverige med Facebook-liknande koncept. Vinner IDG topp 100 bästa dejtingsajt.
  p Omvärld: Windows Vista släpps


.history
  .year 2008
  p Iteam vinner EPiServer Awards för bästa intranät med <a href="/case/absolutforum">Absolut Forum</a>. Beckers, Mora och FM Matsson är nya kunder hos oss. Vi vinner också priset för Bästa Dejtingsajt fråm IDG med <a href="/case/shakemyworld">Shake My World</a>.
  p Omvärld: USB 3.0 lanseras - nu snabbare, snyggare och pålitligare - med 10 gånger högre hastighet än USB 2.0, hela 5 Gbit/sekund.


.history
  .year 2009
  p Academic Communication blir ny stor kund med en TRex community. Vi bygger <a href="/case/careerbook">Careerbook</a> - ett nytt sätt för företag och ung, välutbildad arbetskraft att finna varandra. Careerbook flyttar så småningom in under Academic Works sajt. Svensk byggtjänst blir ny stor kund hos oss.


.history
  .year 2010
  p Vi flyttar in i nya lokaler på Tegnérgatan. Shake My world fortsätter vara en av sveriges bästa sajter (topp 100). Svensk Byggtjänst's Omvärldsbevakning (vid den här tiden kallad Bygginfo) nomineras i EPiServer Awards. Iteam utvecklar sajter med parallaxscroll i HTML5 och utforskar vad den senaste tekniken kan ge för fördelar - bl.a. www.iteam.se får ett nytt utseende.
  p Omvärld: Wordpress inleder nytt kapitel för open source. Wordpress, och därmed open source som princip, blir rumsrent även för stora svenska företag. Big Data börjar få realistiska lösningar för att hantera ökande datamängder i och med NoSQL och andra smarta tekniker.


.history
  .year 2011
  p Iteam arbetar med NodeJS och RavenDB. Dom blir viktiga komponenter som komplement till Microsoft .NET i bl.a. <a href="/case/amabv">AMA Beskrivningsverktyg</a>. Iteam blir nominerade till EPiServer Awards med just <a href="/case/amabv">AMA Beskrivningsverktyg</a>.


.history
  .year 2012
  p Iteam och TRR gör bra saker tillsammans. Med utmaningen att snabbare åstadkomma en snabbare och bättre jobbmatchning vill vi göra Sverige slagkraftigare och Svenskt Näringslivs, PTKs och LOs medlemmar starkare. <a href="/case/radicalfm">Radical.fm</a>[Radical.fm] släpps i betaversion i Sverige.
  p Omvärld: I Sverige finns 3,2 miljoner mobilsurfabonnemang för smartmobiler. Flash-tekniken dör.


.history
  .year 2013
  p <a href="/case/radicalfm">Radical.fm</a> ser dagens ljus – en fantastisk ättling till Tomsradio – en utmanare inom musikindustrin som verkligen utmanar det etablerade sättet att konsumera musik. Vi ser allt fler av våra projekt gå in i en responsiv HTML5-webb. Vi är nu en kreativ teknikbyrå som detta år också varit med och tagit fram en helt ny tjänst för <a href="/case/projektbevakning">Projektbevakning</a> inom byggbranschen.


h3 Iteam har en spännande historia. Och nu kommer framtiden. Vi kommer förtsätta växa och uppleva nya tekniktider – gärna tillsammans med dig. Välkommen.


.history
  .year I morgon?
  p Högre röster höjs på krav på krypterade email pga NSA prism övervakning. Parallaxscroll syns på Spotify ;) Mobilen är delaktig i 70% av alla köpbeslut av varor över 1000kr. IT-branschen mognar och kraven på kvalitet ökar. Banksystemet får nästa omvälvande förändring i samband med Zennströms bank. Mobilen blir nu ännu viktigare inte bara i västvärlden utan även i Asien och Afrika som nu kan börja göra affärer utan mellanhänder till hela världen. Möbler kan måttbeställas från snickare i Afrika och betalas och levereras säkert via realtidsbetalningar. Apple inleder samarbete med Ray Ban, Audi och Omega för nya iWatch som är Siris nya inbyggda gränssnitt för iOS. Nytt sätt att kommunicera med dator och mobil presenteras. Använd tankekraft/tårna för att styra inmatning till mobilen/iWatch. Även ögonstyrning blir inbyggt i mobiler och datorer. Nytt krypterat lagringsmoln lanseras. Helt distribuerat och skyddat från myndigheters kontroll baseras det på öppen källkod och använder vanliga webbläsaren. Obegränsad lagring och garanterad beständighet och säkerhet. AI chip börjar säljas och används först till Siri och liknande tillämpningar därefter till att stärka webbläsaren med smartare navigation och rekommendationer. I längden vet dina enheter vad du behöver för information innan du begär den.
