---
title: "Om"
layout: page
tags: ['om', 'page']
subpages: 'om'
pageIndex: 5
dontIndexInAnyCollection: true
---

p Vi förverkligar drömmar med teknik. Vi är en teknikbyrå. Genom att erbjuda goda råd, teknisk spjutspets och driftexpertis förverkligar du din dröm tillsammans med oss. Du får uppleva värdet av hög kvalitet, service och innovation i vårt samarbete. Om det behövs så jobbar vi gärna tätt ihop med er webb-, reklam- eller designbyrå. Så att dom får göra det dom är allra bäst på - vare sig det är idé, affär, design eller formgivning. Och vi gör det vi är allra bäst på - tekniken.

p De webbplatser vi bygger är oftast centrala i våra kunders affär och har därför stort fokus på en stabil teknisk plattform och integration mot interna system så som produktsystem (PIM), affärssystem, säljstödssystem (CRM), webbshoppar. Det får gärna finnas behov av single-sign-on mm - ju komplexare destå mer utmaning. Och destå mer rätt är det att jobba tillsammans med oss på Iteam.


.row-fluid#about
  ul
    each subpage in getCollection('om').toJSON()
      li
        a(href=subpage.url)= subpage.title
        p= subpage.summary