---
title: "Iteam i siffror"
layout: page
pageOrder: 2
subpages: 'om'
summary: "Sedan 1995 har vi haft tillväxt - tryggt och säkert."
---

div(about-view)
  p Iteam har funnits länge och kommer att finnas kvar länge till.
  p Vi är ett helt personalägt bolag och har högsta kreditrating enligt UC och har Trippel-A (AAA) enligt Soliditet. Läs mer om Soliditets AAA-rating och statistik <a href="http://www.soliditet.se/cms/ratingstatistik" target="blank">här</a>.

  h3 Omsättning [MSEK]
  canvas.turnoverNumbers(width=700,height=300)

  h3 Antal medarbetare
  canvas.employeeNumbers(width=700,height=300)
  p Källa: Bolagsverket, Creditsafe, och <a href="http://www.allabolag.se/5565516928/Iteam_Solutions_AB" target="blank">Allabolag</a>

 