---
title: Kontakt
layout: page
pageOrder: 1
summary: Här är vi!
subpages: 'om'
topImage: '/content/images/IMG_7416.jpg'
---
h3 Ring oss 08-26 70 90
p Här hittar du direktnummer till våra <a href="/medarbetare">medarbetare</a>.

h3 Hitta oss

p Vi finns på Tegnérgatan 28, 6tr. Spana in våra ljusa och nyfixade lokaler högst upp i huset. Välkommen!

a(href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Iteam%2BSolutions%2BAB,%2BTegn%C3%A9rgatan%2B28,%2BStockholm,%2BSweden&aq=&sll=59.318652,18.018436&sspn=0.061665,0.122395&vpsrc=0&t=h&ie=UTF8&hq=iteam+solutions+ab&hnear=Tegn%C3%A9rgatan+28,+113+59+Stockholm,+Stockholms+l%C3%A4n,+Sweden&ll=59.338946,18.057253&spn=0.007091,0.015299&z=16&iwloc=A",style="color:#0000FF;text-align:left",target="_blank")
  img(src="http://maps.googleapis.com/maps/api/staticmap?center=59.338946,18.05723&zoom=14&size=1170x200&maptype=roadmap&sensor=false&markers=color:0xFFBD09%7Clabel:I%7C59.338946,18.05723&visual_refresh=true")