---
title: Kontakt
layout: page
pageOrder: 1
summary: Hitta oss, ring oss, följs oss - och kvittra med oss.
subpages: 'om'
---

h3 Hitta oss
p Är du i Stockholm? Då är du varmt välkommen upp till oss på Tegnérgatan 28, 6tr. Våra ljusa, nyrenoverade lokaler inbjuder till både inspirerande möten, koncentrerat arbete - liksom en fika eller kanske en kall öl på fredag efter jobbet. Välkommen upp.

a(href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Iteam%2BSolutions%2BAB,%2BTegn%C3%A9rgatan%2B28,%2BStockholm,%2BSweden&aq=&sll=59.318652,18.018436&sspn=0.061665,0.122395&vpsrc=0&t=h&ie=UTF8&hq=iteam+solutions+ab&hnear=Tegn%C3%A9rgatan+28,+113+59+Stockholm,+Stockholms+l%C3%A4n,+Sweden&ll=59.338946,18.057253&spn=0.007091,0.015299&z=16&iwloc=A",style="color:#0000FF;text-align:left",target="_blank")
  img(src="http://maps.googleapis.com/maps/api/staticmap?center=59.338946,18.05723&zoom=14&size=1170x200&maptype=roadmap&sensor=false&markers=color:0xFFBD09%7Clabel:I%7C59.338946,18.05723&visual_refresh=true")

h3 Ring oss
p Vi finns alltid på 08-26 70 90. Direktnummer till våra medarbetare finns <a href="/medarbetare/">här</a>. Slå en signal, vi ser fram emot att tala med dig.

h3 Socialisera med oss
p Gilla oss på <a href="https://www.facebook.com/IteamSolutions" target="_blank">Facebook</a>. Häng med oss på <a href="http://www.linkedin.com/company/iteam_2" target="_blank">LinkedIn</a>. Se oss på <a href="http://instagram.com/iteam1337" target="_blank">Instagram</a>. Kvittra med oss på <a href="http://twitter.com/iteam1337" target="_blank">Twitter</a>.
