---
title: Om
layout: page
tags: ['about','page']
pageOrder: 10
---
h2 Vi förverkligar drömmar med teknik

p Iteam är en teknikbyrå i Stockholm. Genom att erbjuda goda råd, teknisk spjutspets och driftexpertis förverkligar vi din dröm Tillsammans med oss kan du få uppleva värdet av hög kvalitet, service och innovation. 

p Ofta jobbar vi tillsammans med andra webbyråer som då står för design och formgivning. De webbplatser vi bygger är oftast centrala i våra kunders affär och har därför stort fokus på en stabil teknisk plattform och integration mot interna system så som produktsystem (PIM), affärssystem och Single Sign On etc. Vi <3 teknik.Vi utvecklar smarta webblösningar som t ex communities, e-handel och intranät.

ul#subpages
  each subpage in getCollection('about').toJSON()
    li
      a(href=subpage.url)= subpage.title

.row-fluid#about(ng-controller="AboutCtrl")
  ul
    each subpage in getCollection('about').toJSON()
      li
        a(href=subpage.url)= subpage.title
        p= subpage.summary