---
title: Om
layout: page
tags: ['about','page']
pageOrder: 10
---

.row-fluid#about(ng-controller="AboutCtrl")
  h3 Vi är en teknikbyrå
  p Vi kallar oss teknikbyrå och jobbar som en webbyrå men tar endast projekt med större tekniskt fokus. Ofta jobbar vi tillsammans med andra webbyråer som då står för design och formgivning. De webbplatser vi bygger är oftast centrala i våra kunders affär och har därför ofta stort fokus på en stabil teknisk plattform och integration mot interna system så som produktsystem (PIM), affärssystem och Single Sign On etc. Vi <3 teknik.

  h3 Historia
  p Iteam grundas 1995. Grundarna är fyra klasskamrater från Bromma. Samma år offentliggörs programmeringsspråket Java, och Microsoft släpper Windows 95. Den som 1995 är hängiven teknikfantast köper såklart till ”Plus! För Windows” för att få med webbläsaren Internet Explorer i sin dator. Sveriges radio lanserar digitalradio som andra land i världen, efter Storbrittanien. Runt om i värden händer det också mycket - Finland, Sverige och Österrike blir medlemmar av EU, som därmed har 15 medlemsstater. Svensk industri slår lönsamhetsrekord, bästa första halvåret sendan sedan 1978. Det är en spännande tekniktid som står framför oss.

  .history
    .year 1995
    .text Playstation lanseras i Europa och USA.
  .history
    .year 1995
    .text eBay grundas.

  p 1996-1998 jobbar vi för fullt som som konsultbyrå inom ”PC, nätverk och internet”. Vi bygger bland annat PIA - en personlig telefonassistent, som Viking Telecom sedan köper och doper om till CaroLine. Telia distribuerar Caroline under namnet Telia Attend. En dröm har blivit verklighet. En annan dröm som blir verklighet är Google – 1998 kommer dom in i vår värld med sitt nya sökmotor. Hur stort det ska bli förstår ingen ännu.
  p Tidigt på 2000-talet gör vi våra första insatser inom music på nätet. Vi bygger [Tomsradio](cases/tomsradio), världens första fullt personiferade, [interaktiva station på nätet](http://en.wikipedia.org/wiki/Tomsradio.com). Musik, radio och nytänkande inom webbradio har legat oss varm om hjärtat allt sedan dess. 

  .history
    .year 1997
    .text IBMs Deep Blue besegrar Garry Kasparov i schack
    .text Det här diggar vi till på MTV 
      a(href="http://youtu.be/AFtmGwxbIq0") såhär
  .history
    .year 1998
    .text XML 1.0 lanseras

  p Iteam växer, utvecklas och fortsätter brinna för tekniken. 2006 vinner vi Red Dot Award för ABSOLUT Press Room, 2008 vinner vi pris för Bästa Dejtingsajt med ShakeMyWorld, 2009 tar vi hem priset för för bästa intranät tillsammans med ABSOLUT. Allt medan nya bekantskaper gör entré i vår värld – 2004 kommer Facebook, 2005 lanseras YouTube och 2007 lanseras Apple’s Iphone. Alla kommer visa sig vara värdefulla verktyg för att hjälpa våra kunder förverkliga sina drömmar med teknik.

  .history
    .year 2002
    .text
      a(href="http://youtu.be/bORRM0LNa6s") Musiken var bättre än någonsin

  .history
    .year 2008
    .text USB 3.0 lanseras

  p 2010 till 2013 bygger vi många och viktiga verktyg tillsammans med Svensk Byggtjänst, Beckers och Trygghetsrådet. 2013 ser också Radical.fm dagens ljus – en fantastisk ättling till Tomsradio – en utmanare inom musikindustrin som verkligen utmanar det etablerade sättet att konsumera musik.

  p Vår historia är kantad av drömmar som blivit verklighet. Vi jobbar med teknik för att vi älskar det och för att användare inte ska behöva reflektera över den. Vi kommer förtsätta så – gärna tillsammans med dig. Välkommen.

  canvas#financialNumbers(width=840, height=300)
  .legend
    .employees
      .box
      span.text Antal anställda

    .turnover
      .box
      span.text Omsättning [MKr]