---
title: Om
layout: page
tags: ['about','page']
subpages: 'about'
pageOrder: 10
---

p Vi förverkligar drömmar med teknik. Genom att erbjuda goda råd, teknisk spjutspets och driftexpertis förverkligar vi din dröm. Tillsammans med oss kan du få uppleva värdet av hög kvalitet, service och innovation. De webbplatser vi bygger är oftast centrala i våra kunders affär och har därför stort fokus på en stabil teknisk plattform och integration mot interna system så som produktsystem (PIM), affärssystem, säljstödssystem (CRM), webbshoppar. Det får gärna finnas behov av single-sign-on mm - ju komplexare destå mer utmaning. Och destå mer rätt är det att jobba tillsammans med oss på Iteam.

p Vi är en teknikbyrå. Så när - och om - det behövs  jobbar vi gärna tätt ihop med partners på webb- eller designbyråsidan- Dom står då står för design och formgivning. 

p Vi <3 teknik.


.row-fluid#about
  ul
    each subpage in getCollection('about').toJSON()
      li
        a(href=subpage.url)= subpage.title
        p= subpage.summary