---
title: Om
layout: page
tags: ['about','page']
pageOrder: 10
summary: About us summary kommer här.
---
---

ul#subpages
  each subpage in getCollection('about').toJSON()
    li
      a(href=subpage.url)= subpage.title

.row-fluid#about(ng-controller="AboutCtrl")
  ul
    each subpage in getCollection('about').toJSON()
      li
        a(href=subpage.url)= subpage.title
        p= subpage.summary