---
title: Case
layout: section
tags: ['intro','page']
pageOrder: 2
subpages: 'cases'
---

.row-fluid#cases
  each doc in getCollection('cases').toJSON()
    .case
      if (doc.images)
        img(src="/images/" + doc.images[0], class="case-image")
      else
        img(src="http://lorempixel.com/100/100", class="case-image")
      .case-about
        a(href=doc.url)
          h2.case-title= doc.title
        p= doc.intro