---
title: Medarbetare
layout: section
tags: ['intro','page']
pageOrder: 3
---

.row-fluid.coworkers
  each doc in getCollection('coworkers').toJSON()
    .coworker
      a(href=doc.url, class="name")
        img(src=doc.image, class="image")
        .info
          h4= doc.title
          p(class="title")= doc.jobTitle