---
title: Medarbetare
layout: section
pageOrder: 2
---

.row-fluid.coworkers
	.span6
		each doc in getCollection('coworkers').toJSON()
			.coworker
				a(href=doc.url, class="name")
					img(src=doc.image, class="image")
					h4= doc.title
				p(class="title")= doc.jobTitle