---
title: Tjänster
layout: section
tags: ['intro','page']
pageOrder: 1
subpages: 'services'
---

.row-fluid
  each doc in getCollection('services').toJSON()
    .offer
      a(href=doc.url)
        h2= doc.title
      p= doc.summary


p -- ### Ikoner för tjänster på högsta nivå som måste läggas in på rätt sätt - om dom ska användas.. ### --
<img src="/ico/radgivning.png" class="left" width="70" alt="Rådgivningsikon"> 
<img src="/ico/systemutveckling.png" class="left" width ="70" alt="Systemutvecklingsikon"> 
<img src="/ico/driftosupport.png" class="left" width="70" alt="Drift- och Supportikon"> 
