---
title: Fjärrhjälp
layout: page
tags: ['support','mats','rasmus']
pageOrder: 14
---

   h2 Vi hjälper dig med din dator
   h3 Ring +46(0)8-26 70 90
   h3 Välj 1 i telefonväxeln. Klicka därefter på någon av länkarna nedanför.
   a.btn(href="../../../files/IteamRemoteControlWindows.exe") Fjärrstyr min PC
   a.btn(href="../../../files/MacRemote.dmg") Fjärrstyr min Mac