---
title: Fjärrhjälp
layout: page
tags: ['support','mats','rasmus']
pageOrder: 14
---

   h2 Vi hjälper dig med din dator
   A Ring +46(0)8-26 70 90, välj 1. Klicka därefter på någon av länkarna nedanför.
   a.btn(href="../../../files/IteamRemoteControlWindows.exe") Fjärrstyr min PC
   a.btn(href="../../../files/MacRemote.dmg") Fjärrstyr min Mac