---
title: Blogg
layout: page
pageOrder: 10
---

.blog
  each doc in getCollection('posts').toJSON()
    section(class="post")
      header
        div.date= doc.date.toDateString()
        a.title(href=doc.url)= doc.title

      article= doc.intro
