---
title: Fjärrhjälp
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'
keywords: ''

layout: page
tags: ['Drift &amp; support', 'mats', 'rasmus']
pageIndex: 16
dontIndexInAnyCollection: true

topImage: '/content/images/section-topbilder/isolde-bw-cropped.jpg'
background:
---

:markdown
  ## Vi hjälper dig med din dator
  Ring +46(0)8-26 70 90 och välj 1 i telefonväxeln.

  Klicka därefter på någon av länkarna nedanför.
a.tag.remote(href="http://iteam.se/files/IteamRemoteControlWindows.exe") Fjärrstyr min PC
a.tag.remote(href="http://iteam.se/files/MacRemote.app") Fjärrstyr min Mac