---
title: Fjärrhjälp
layout: page
tags: ['Drift &amp; support', 'mats', 'rasmus']
pageIndex: 16
dontIndexInAnyCollection: true
---

:markdown
  ## Vi hjälper dig med din dator
  Ring +46(0)8-26 70 90
  Välj 1 i telefonväxeln. Klicka därefter på någon av länkarna nedanför.
a.btn(href="http://iteam.se/files/IteamRemoteControlWindows.exe") Fjärrstyr min PC
a.btn(href="http://iteam.se/files/MacRemote.dmg") Fjärrstyr min Mac