each coworker in getCollection('medarbetare').toJSON()
  if coworker.shortname == document.author
    a.coworker-title(href="/medarbetare/" + document.author)= coworker.title
    .job-title= coworker.jobTitle