- var images = []
each image in document.imageGallery
  if typeof image === "string"
    if image.charAt(0) !== "/" || !image.match(/^http/i)
      - image = "/content/images/" + image
      li
        a(href=image)
          img(src=image)