div#opportunities
  .title Lediga tjänster
  ul
    each career in getCollection('jobb').toJSON()
      if career.title
        li
          a(href=career.url)= career.title
          p= career.summary