each link in document.readmorelinks
  li
    if typeof link === "object" && link.hasOwnProperty("url")
      a(href=link.url)= (!!link.title ? link.title : link.url)
    else
      a(href=link)= link
