.twitter(twitter=document.twitterTag, ng-show="!!twitter")
  .header
    h2 Twitter

  ul.tweets
    li(ng-repeat="tweet in tweets | limitTo:5")
      .text(ng-bind-html-unsafe="tweet.text")
      .time {{tweet.created_at}}
      .user {{tweet.user}}