---
title: Jobb
layout: section
tags: ['intro', 'page']
pageType: "karriar"
pageIndex: 5
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/isolde.jpg"
backgroundDark: true
---

.row-fluid#karriar
  .row
    .span6
      :markdown
        ## Vi gillar utmaningar

        Hos oss arbetar vi med olika tekniker, som HTML5, MVC 3, node.js, AngularJS, RavenDB och NoSQL. Eller det som känns spännande.

        Självklart är du med och formar din egen roll och du styr hur du löser dina uppgifter. Alla ska utvecklas på Iteam – varje dag.
        
        Vi arbetar i team med några utvecklare och projektledare. De olika teamen är dedikerade till specifika projekt, men behövs mer kraft från något annat team så delar vi med oss till varandra. I övrigt spelas det en hel del pingis för små pauser i arbetet.

        På vår blogg [tekniken.nu](//tekniken.nu) delar vi med oss av våra tankar och idéer.

        Vi gillar spontanansökningar, så tveka inte att kontakta [Hans Rollman](medarbetare/hans).

    #opportunities.span5.offset1
      h2 Just nu söker vi
      ul
        each career in getCollection('ledigatjanster').toJSON()
          if !!career.title
            li
              a.title(href=career.url)= career.title
              p!= career.summary