---
title: Jobb
layout: section
tags: ['intro', 'page']
pageType: "karriar"
pageIndex: 4
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/isolde.jpg"
background: 'invert'

chevron: true
---

.row-fluid#karriar
  .row
    .span6
      :markdown
        ## Vi gillar utmaningar

        Vi arbetar med olika tekniker som HTML5, ASP.NET MVC 3, Node.js, AngularJS, RavenDB och MongoDB. Eller det som känns spännande och bär på lösningen.

        Som vår medarbetare bildar man sin egen roll. Alla ska utvecklas på Iteam – varje dag.
        
        Vi tillämpar Scrum, i team med några utvecklare och projektledare. De olika teamen är dedikerade till specifika projekt och i dagsläget är vi två team men vi siktar alltid på att växa. 
        I övrigt spelas det pingis, vi umgås och skrattar.

        På vår blogg [tekniken.nu](//tekniken.nu) delar vi med oss av våra tankar och idéer.

        Vi gillar spontanansökningar, så tveka inte att kontakta [Hans Rollman](medarbetare/hans).

    #opportunities.span5.offset1
      h2 Just nu söker vi
      ul
        each career in getCollection('ledigatjanster').toJSON()
          if !!career.title
            li
              a.title(href=career.url)= career.title + ' »'
              p!= career.summary