@import "variable"

#post
  margin-top 40px

  .post-title
    margin 20px 0 40px

  .post-content
    color #666

  .post-author
    padding-top 20px
    margin-top 40px

    a
      display block
      margin-bottom 5px

  .post-image
    height 100px
    display block
    overflow hidden
    width 100%
    position relative
    height 100px
    max-height 100px
    min-height 100px
    min-width 100%
    display block
    overflow hidden
    background-repeat no-repeat
    background-color white
    background-position 50% 50%
    vendor("background-size", cover)

.post
  .post-date
    float right
    color #666