@import "variable"

#coworker
  #blog-feed
    text-align left

    *
      box(border-box)
    
    li
      float left
      width 49%

      &:nth-child(2n-1)
        margin-right 2%

      .title
        font-size 18px
        padding 0 0 10px
        text-align left

      .content
        width 100%

      @media mobile
        width 100%