@import "variable"

#coworker
  #blog-feed
    text-align left
    *
      box(border-box)
    .blog
      vertical-align top
      font-size larger
      display inline-block
      padding 0 20px 0
      width 25%
      margin 0