@import "variable"

#career
  .col-md-6 img
    margin-top 20px
  
    @media mobile
      max-width 100%

  .our-roles
    background greyBg
    margin-top 20px
    padding 0 20px 20px

    h3
      margin 0

    p, li
      font-size 13px

  ul
    margin-bottom 20px

    li
      font-size 17px
      line-height 1.6