@import "variable";

#career
  .col-md-6 img
    margin-top 20px
  
    @media mobile
      max-width 100%

  .our-roles
    h3
      margin 0

  ul
    margin-bottom 20px

    li
      font-size 17px
      line-height 1.6