@import "variable"

#footer
  background greyBg
  margin 0 auto
  padding-bottom 20px

  .row.boilerplate
    padding-top 70px

    @media mobile
      padding-top 20px

  .container
    background greyBg
    margin-top 20px
    padding 0

    @media mobile
      margin 20px auto 0 !important
      padding 0 20px

  a
    color black

  #address
    @media mobile
      text-align center
      width 100%

    img
      padding-bottom 20px
      margin-top -30px
      opacity 0.6

  #followUs
    @media mobile
      positioned('top','right',0,0,relative)

      text-align center
      width 100%