@import "variable"

@font-face
  font-family "AvantGarde ExtraLight"
  src url("/content/fonts/lte52009.ttf") format("truetype")

/* General
---------------------------------------------*/
a,
a:link
  color orange
  cursor pointer
  text-decoration none

a.btn
  box border-box

  background orange
  color #fff
  display inline-block
  font-size 12px
  margin-right 20px

a.tag
  font-family "AvantGarde ExtraLight", Franklin Gothic Book, Arial, Sans-Serif
  display inline-block
  position relative
  height 40px
  width 80%
  padding 0px 20px
  border-width 0px 0px 1px
  border-style none none solid
  color white
  font-size 14px
  line-height 39px
  text-align center
  vertical-align bottom
  font-weight 400
  background-color rgb(153, 153, 153)
  vendor("border-radius", 3px)
  vendor("transition", background-color 300ms ease)

  &:hover
    background-color _orange

body,
html
  background #fff
  font-family "AvantGarde ExtraLight", Franklin Gothic Book, Arial, Sans-Serif
  font-size 1em
  height 100%
  overflow-x hidden
  position relative

p
  color #666
  font-family "Palatino"
  line-height 2
  color #666
  line-height 1.6
  margin-bottom 20px
  font-size 17px
  font-weight 100
  letter-spacing 0
  max-width 450px

ul
  list-style none
  margin 0
  padding 0

pre
  margin-bottom 20px

/* Headings
---------------------------------------------*/
h1,
h2,
h3,
h4
  font-weight normal

h2
  font-size 24px

/* Icons
---------------------------------------------*/
.etp-thin-chevron-right,
.etp-thin-chevron-left,
.etp-menu,
.ets-c-github,
.ets-c-twitter,
.ets-c-facebook,
.ets-c-linkedin
.ets-instagram
  display inline-block
  width 1.15em
  height 1.5em
  background-position 50%
  background-size 1em
  background-repeat no-repeat
  margin auto
  padding 0
  text-align center
  opacity .6
  vendor("transition", opacity 300ms ease)

  &:hover
    opacity 1 !important
    vendor("transition", opacity 300ms ease)

.etp-thin-chevron-left,
.etp-thin-chevron-right,
.etp-menu
  font-size 1.5em

.etp-thin-chevron-left
  background-image url(/content/images/svg/left.svg)

.etp-thin-chevron-right
  background-image url(/content/images/svg/right.svg)

.etp-menu
  background-image url(/content/images/svg/menu.svg)

.ets-c-github
  background-image url(/content/images/svg/github.svg)

.ets-c-twitter
  background-image url(/content/images/svg/twitter.svg)

.ets-c-facebook
  background-image url(/content/images/svg/facebook.svg)

.ets-c-linkedin
  background-image url(/content/images/svg/linkedin.svg)

.ets-instagram
  background-image url(/content/images/svg/instagram.svg)