@import "variable"

@font-face
  font-family "AvantGarde ExtraLight"
  src url("/content/fonts/lte52009.ttf") format("truetype")

/* General
---------------------------------------------*/
a,
a:link
  color orange
  cursor pointer
  text-decoration none

a.btn
  box border-box

  background orange
  color #fff
  display inline-block
  font-size 12px
  margin-right 20px

a.tag
  box(border-box)
  font-family regularFontStack
  display inline-block
  position relative
  height 40px
  width 100%
  padding 0px 20px
  border-width 0px 0px 1px
  border-style none none solid
  color white
  font-size 14px
  line-height 39px
  text-align center
  vertical-align bottom
  font-weight 400
  background-color rgb(153, 153, 153)
  vendor("border-radius", 3px)
  vendor("transition", background-color 300ms ease)

  &:hover
    background-color _orange

  &.remote
    width 25%
    margin-right 20px

body,
html
  -webkit-overflow-scrolling touch
  background #fff
  font-family sansSerifFontStack
  font-size 1em
  height 100%
  overflow-x hidden
  position relative

p
  color #666
  font-family serifFontStack
  line-height 2
  color #666
  line-height 1.6
  margin-bottom 20px
  font-size 17px
  font-weight 100
  letter-spacing 0
  max-width 450px

ul
  list-style none
  margin 0
  padding 0

pre
  margin-bottom 20px

/* Headings
---------------------------------------------*/
h1,
h2,
h3,
h4
  font-weight normal
  font-family sansSerifFontStack

h2
  font-size 24px

h3
  font-size 20px

h4
  font-size 16px

/* Icons
---------------------------------------------*/
.e-mail,
.e-mailme,
.e-phone,
.e-alert,
.e-chevron-thin-right,
.e-chevron-thin-left,
.e-list,
.e-github,
.e-twitter,
.e-facebook,
.e-linkedin,
.e-instagram
  display inline-block
  width 1.15em
  height 1.5em
  background-position 50%
  background-size 1em
  background-repeat no-repeat
  margin auto
  padding 0
  text-align center
  opacity .6
  vendor("transition", opacity 300ms ease)

  &:hover
    opacity 1 !important
    vendor("transition", opacity 300ms ease)

.e-mail,
.e-mailme,
.e-phone,
.e-alert,
.e-chevron-thin-right,
.e-chevron-thin-left,
.e-list
  font-size 1.5em

.e-mail
  svg(mail)
.e-mailme
  svg(mailme)
.e-phone
  svg(phone)
.e-alert
  svg(alert)
.e-chevron-thin-left
  svg(left)
.e-chevron-thin-right
  svg(right)
.e-list
  svg(list)
.e-github
  svg(github)
.e-twitter
  svg(twitter)
.e-facebook
  svg(facebook)
.e-linkedin
  svg(linkedin)
.e-instagram
  svg(instagram)

.rn-carousel-container
  border none
  position relative
  margin-bottom 20px
  background-color #444
  ul
    height 100%
    width 100%
    li
      background-size contain
      background-repeat no-repeat
      background-position 50% 50%

  &.invert
    background-color #eee
    .layer
      .wrapper
        a,
        h1,
        h2
          color white
          text-shadow 0 0 1px rgba(0, 0, 0, 0.3)
    .rn-carousel-indicator
      span
        box-shadow 0 0 1px rgba(0, 0, 0, 0.3)
        background-color #fff
        border 0px solid #fff

    .image
      li
        background-color #eee
    .e-chevron-thin-left
      background-image url("/content/images/svg/left.svg")
    .e-chevron-thin-right
      background-image url("/content/images/svg/right.svg")

  .left,
  .right
    position absolute
    font-size 3em
    top 50%
    margin-top -1em
    line-height 1em
    cursor pointer
    &.disabled
      opacity 0 !important

  .left
    left 20px

  .right
    right 20px

  .e-chevron-thin-left
    background-image url("/content/images/svg/left-dark.svg")
  .e-chevron-thin-right
    background-image url("/content/images/svg/right-dark.svg")

  .image
    height 450px
    li
      background-color #444
      background-position 50% 50%
      background-repeat no-repeat
      vendor("background-size", cover)

  .layer
    display table
    height 100%
    width 100%
    top -0px
    position relative
    text-align center
    margin 0
    padding 0

    .wrapper
      display table-cell
      vertical-align middle
      a,
      h1,
      h2
        font-size 1em
        line-height 1.2em
        position relative
        color #333
        &.case-title
          font-size 4em
        &.separator-before:before
          content "·"
          width 10px
          display inline-block
      h1
        font-size 4em
        margin 0 auto
        width 80%

  .rn-carousel-indicator
    background none
    position absolute
    top 5px

    span
      padding 0
      height 10px
      width 10px
      margin 4px
      content ""
      cursor pointer
      display inline-block
      background-color #000
      border 0px solid #000
      box-shadow 0 0 1px rgba(255, 255, 255, 0.3)
      border-radius 10px

      &.active
        width 8px
        height 8px
        background-color transparent
        border-width 1px