.ie8
  .container
    margin-top 100px

  #navSubpages .subpage-inner a
    margin-right 20px

  #startpage .instagram-wrap
    display none

  #slider .carousel-inner .item .carousel-caption
    left 0
    margin-top -100px
    width 100%
    right 0

    &.visible-md.visible-lg
      display block !important

  .background-image
    display none

  .page-content
    .top-part
      text-align center
    p
      max-width 100%
      width 100%

    .split
      display none