@import "variable"

.index
  .background-image
    top -103px
    height 625px
    max-height 625px
    background-position 50%
  .container
    max-width 720px
    margin 100px auto -50px
    min-height 376px
    padding-bottom 0
    p
     max-width none
  .cases
    .case
      display inline-block
      max-width 150px
      max-height 80px