@import "variable"

.index
  .container
    max-width 720px
    margin -50px auto 50px
    min-height 376px
    p
     max-width none
    img
      max-width 100%
      max-height 100%
      margin 0 auto
    h1
      font-size 3em
      line-height 1.2em
      margin-bottom 1em

  .rn-carousel-container
    border none
    position relative
    margin-bottom 20px
    background-color #444

    .left,
    .right
      position absolute
      font-size 3em
      top 50%
      margin-top -1em
      line-height 1em
      cursor pointer
      &.disabled
        opacity 0 !important

    .left
      left 20px

    .right
      right 20px

    .image
      height 450px
      li
        background-color #444
        background-position 50% 50%
        background-repeat no-repeat
        vendor("background-size", cover)

    .layer
      display table
      height 100%
      width 100%
      top -0px
      position relative
      text-align center
      margin 0
      padding 0

      .wrapper
        display table-cell
        vertical-align middle
        &.invert
          a,
          h1
            color white
            text-shadow 0 0 1px rgba(0, 0, 0, 0.3)
        a,
        h1
          font-size 1em
          white-space nowrap
          line-height 1.2em
          position relative
          color #666
          text-shadow 0 0 1px rgba(255, 255, 255, 0.3)
          &.case-title
            font-size 4em
          &.separator-before:before
            content "·"
            width 10px
            display inline-block
        h1
          font-size 4em


    .rn-carousel-indicator
      background none
      position absolute
      top 5px

      span
        padding 0
        height 10px
        width 10px
        margin 4px
        content ""
        cursor pointer
        display inline-block
        background-color #fff
        border 0px solid #fff
        vendor("border-radius", 10px)
        box-shadow 0 0 1px rgba(0, 0, 0, 0.3)
        &.active
          width 8px
          height 8px
          background-color transparent
          border-width 1px

  .instagram-feed
    a
      width 50%
      margin 0
      padding 0
      display inline-block
      text-align center
      img
        border 2px solid white
        max-width 100%
        max-height 200px
        margin 0 auto
        height auto