@import "variable"

.index
  #main-holder
    background-position 50% 50%
    background-size 

    ul li
      font-family serifFontStack
      font-size 1.1em
      line-height 1.5
      padding-bottom 20px
    
  .lead p
    font-size 1.1em
    line-height 1.75
    margin 70px 0
    max-width 100%

    @media mobile
      font-size 18px
      margin 0

  .container
    box(border-box)
    max-size(0, width, 376px, none)

    background-color transparent
    margin 0 auto
    padding 20px

    img
      max-size(0,100%,0,100%)

      margin 0 auto
    h1
      font-size 2em
      line-height 1.2em
      margin-bottom 1em

      @media mobile
        font-size 28px

  #footer-holder
    padding 0 20px
    max-width width

    #footer
      max-width width
      padding 40px 20px 0