@import "variable"

#instagram-feed a
  width 25%
  margin 0
  padding 0
  display inline-block
  text-align center

  img
    border 2px solid white
    max-width 100%
    margin 0 auto
    height auto