@import "variable"

/**
 * iPhone
 */
@media (max-width:480px)
  canvas
    width 100% !important

  .index
    .container,
    #startpage
      margin-top 0 !important
      top 0
      padding-top 20px
      padding-bottom 0
    #startpage
      box(border-box)
      padding 0
      h1
        margin-bottom 20px

    .container
      h2
        font-size 21px

    .instagram-feed
      margin-bottom 20px
      
      a
        width 50%

  .container
    margin 70px auto 0 !important

    .content > h1
      margin-top -70px !important
      font-size 2.3em !important
      text-shadow none !important
      position relative
      white-space normal !important

      &.invert
        color #333 !important

    &.single-case
      h1
        margin-top -60px !important

  iframe
    height auto

  .visible-phone
    display inherit !important

  .background-image
    top -70px
    height 100%
    min-height 0
    max-height 170px
    position absolute
    display inline-block
  .container
    top 150px
    padding-bottom 150px

  a.btn
    font-family "Palatino Linotype", sans-serif;
    margin 0 0 10px
    width 100%

  #startpage
    margin-top 40px

  ul.subpages
    > li
      > div
        left 20px
        right auto
      > span
        margin-left 55px

  #cases
    .case
      margin 0
      width 100%

      .case-about
        width 100%
      .case-image
        display block
        max-height 200px
        max-width 360px
        margin 0 auto 20px
        width auto

  #case
    margin 0 auto 0

    img
      &.right
        display none

    .about
      .content
        .text
          width 100%
        .information
          margin-left 0
          width 100%
          .team
            li
              display block
              width 100%

  .coworkers
    .coworker
      width 100%

      &:nth-child(2n)
        text-align left

        .image
          float none
          margin-right 20px

        .info
          margin-right 0

  #coworker
    margin-top 40px

    .image
      margin-top -205px

    .cases
      li
        text-align left
        width 100%

    .github
      li
        a
          display inline-block
          font-size 0.8em
          max-width 80%
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

    .top-part
      margin-bottom 15px

      .center
        margin-bottom 10px

      .left,
      .right
        width 100%
        position relative
        bottom 0
        top 0
        left 0
        right 0
        text-align center
      .right
        .social
          text-align center

  #page
    margin: 20px 0

    .history
      .year
        left 0
        margin-bottom 20px
        position relative

    .tjanster
      .offer
        padding-top 0

  #footer
    margin 40px 0 0
    padding 0 20px
    width 100%
    #address
      text-align center
      width 100%

    #followUs
      width 100%
      position relative
      right 0
      text-align center
