@import "variable"

/**
 * iPhone
 */
@media (max-width:480px)
  canvas
    width 100% !important

  .index
    .container,
    #startpage
      margin-top 0 !important
      padding-bottom 0
      padding-top 20px
      top 0
    #startpage
      box(border-box)
      padding 0
      h1
        margin-bottom 20px

    .container h2
      font-size 21px

    .instagram-feed
      margin-bottom 20px
      
      a
        width 50%

  .container
    margin 70px auto 0 !important

    .content > h1
      font-size 2.3em !important
      margin-top -70px !important
      position relative
      text-shadow none !important
      white-space normal !important

    &.single-case h1
      margin-top -60px !important

  iframe
    height auto

  .visible-phone
    display inherit !important

  .background-image
    max-size(0,none,0,170px)
    positioned('top','left',-70px,0)

    display inline-block
    height 100%
  .container
    padding-bottom 150px
    top 150px

  a.btn
    font-family serifFontStack
    margin 0 0 10px
    width 100%

  #startpage
    margin-top 40px

  ul.subpages > li
    > div
      left 20px
      right auto
    > span
      margin-left 55px

  #cases .case
    margin 0
    width 100%

    .case-about
      width 100%
    .case-image
      max-size(0,360px,0,200px)

      display block
      margin 0 auto 20px
      width auto

  #case
    margin 0 auto 0

    img.right
      display none

    .about .content
      .text
        padding-top 20px
        width 100%
      .information
        margin-left 0
        width 100%
        .team li
          display block
          width 100%

  .coworkers .coworker
    width 100%

    &:nth-child(2n)
      text-align left

      .image
        float none
        margin-right 20px

      .info
        margin-right 0

  #coworker
    margin-top 40px

    .image
      margin-top -205px

    .cases li
      text-align left
      width 100%

    .github li a
      text-overflow()

      display inline-block
      font-size 0.8em
      max-width 80%

    .top-part
      margin-bottom 15px

      .center
        margin-bottom 10px

      .left,
      .right
        positioned('top','left',0,0,relative)

        bottom 0
        right 0
        text-align center
        width 100%
      .right
        .social
          text-align center

  #page
    margin: 20px 0

    .history .year
      left 0
      margin-bottom 20px
      position relative

    .tjanster .offer
      padding-top 0