@import "variable"

.modal
  background-color transparent
  text-align center
  line-height 0
  z-index 1050
  outline none
  position fixed
  top 0 !important
  max-width 100%
  max-height 100%
  width 100%
  height 100%
  margin 0
  padding 0
  display none
  box(border-box)

  &.fade
    left -100%
    &.in
      left 0

.modal-body,
.modal-footer
  background-color #fff
  border none
  max-height none
  min-height none
  width 90% !important
  padding 0
  display block

  box(border-box)
  vendor("border-radius", 0)
  vendor("background-clip", padding-box)
  vendor("box-shadow", none)
  vendor("box-pack", center)
  vendor("box-align", center)

.modal-body
  display block
  height 70% !important
  margin 5% 5% 0
  img
    max-width 100%
    max-height 100%
    text-align center
    vertical-align middle

.modal-footer
  margin 0 5% 5%
  text-align center
  height 15% !important
  position relative

  img
    max-width 150px
    max-height 150px
    height 100%
    width auto