#cases
  .case
    a[href="/case/radicalfm"]
      img
        height 52px
    a[href="/case/projektbevakning"],
    a[href="/case/svenskbyggtjanst"],
    a[href="/case/omvarldsbevakning"]
      img
        height 54px
    a[href="/case/carlstedt"]
      img
        height 45px  
    a[href="/case/shakemyworld"]
      img
        height 47px
    a[href="/case/wakers"]
      img
        height 44px
    a[href="/case/landahl"]
      img
        height 45px
    a[href="/case/sesastra"]
      img
        height 67px
    a[href="/case/amabv"]
      img
        height 53px
    a[href="/case/beckers"]
      img
        height 56px
    a[href="/case/moraarmatur"]
      img
        height 39px
    a[href="/case/careerbook"]
      img
        height 58px
    a[href="/case/stockmusic"]
      img
        height 67px
