@import 'variable'

nav.navbar-default
  background #333

  .navbar-header
    .navbar-brand
      padding 10px

  ul
    float none
    margin 0 auto
    max-width 1060px
    text-align center

    li
      display inline-block
      float none

      a.active
        color #FFBD09
      &:last-child
        font-size 0.75rem
        position absolute
        right 20px

        a
          color #fff

      @media mobile
        display block
        text-align left

        &:last-child
          position relative
          right auto
          top 0

          a
            color #999
            font-size 1rem

      a
        color #fff

      .e-chevron-thin-right
        display none

#navSubpages
  background #444
  font-size 0.8em
  padding 10px
  text-align center

  @media mobile
    display none

  .subpage-inner
    margin 0 auto
    max-width 850px
    position relative

    a
      color #fff
      display inline-block
      margin 5px 0
      padding

      &.active,
      &:hover
        color #ffbd09

      &:not(:last-child)
        margin-right 20px