@import "variable"

/**
 * Big screens > 1200px
 */
@media (min-width:980px)
  maxWidth = 1170px
  .container
    max-width 100%

    > div
     display inline-block

  #header
    .header-inner
      max-width maxWidth

  #coworker
    .desc
      mason()

  #cases
    .case
      display inline-block
      margin-right 3%
      vertical-align top
      width 31.1%

      &:nth-child(3n)
        margin 0

      .case-image
        display block
        margin 0 auto 20px
        max-height 150px
        width auto

      .case-about
        width 100%

  #case
    margin 40px auto 0
    max-width 100%

    .about
      width 100%

      .content
        > div
          display inline-block
          vertical-align top

        .text
          width 50%

        .information
          margin-left 40px
          width 40%

        .gallery
          img
            max-height auto
            max-width 47%

  .coworkers
    .coworker
      width 32%

      &:nth-child(2n)
        text-align left

        .image
          float none
          margin-right 20px

        .info
          margin 0

  #footer
    width 100%
    max-width maxWidth
/**
 * iPad landscape
 */
@media (max-width:1199px) and (min-width:980px)
  #coworker
    .social-media
      a:last-child
        display none


/**
 * iPad landscape
 */
@media (max-width:979px) and (min-width:768px)
  #case
    img
      &.right
        float right
        position relative
        right 0
        width 300px
    .about
      width 100%
  #coworker
    .social-media
      a:last-child
        display none

@media(max-width:979px)
  .container
    .page-content
      .text,
      .left-part
        width 100%
      .info,
      .right-part
        width 100%
        padding 0

/**
 * iPad portrait
 */
@media (max-width:767px)
  body
    padding 0

  .background-image
    background-position 50% 0

  .container
    padding 0 20px

  #coworker .github .git
    width 100%
    &:last-child
      margin-left 0

/**
 * iPhone
 */
@media (max-width:480px)
  iframe
    height auto

  a.btn
    font-family "Palatino", sans-serif;
    margin 0 0 10px
    width 100%

  .container
    margin-top 0

  #startpage
    margin-top 40px

  #header
    padding 20px 10px 5px 20px
    text-align left

    .header-inner
      margin 0

    .brand
      width 80px

    #nowplaying
      margin-bottom 20px

    .nav,
    .subnav
      display none

    .openMobileNav
      color #fff
      position relative

      .etp-menu
        position absolute
        right 0
        top -9px

  #mobileNav,
  .subpages
    background #333
    display block
    margin-top 10px
    position absolute
    width 100%

    .back
      background #2b2b2b
      color #999
      cursor pointer

    > li
      trans background 300ms ease

      padding 10px 20px
      position relative

      &:hover
        background #444

      > div
        color #999
        position absolute
        right 10px
        top 7px

    a
      display block

      &:hover
        color #ffbd09
        text-decoration none

      &.active
        color #fff

  #subpageWrap
    display block

  #navSubpages
    display none

  ul.subpages
    > li
      > div
        left 20px
        right auto
      > span
        margin-left 30px

  #cases
    .case
      .case-about
        width 100%
      .case-image
        display block
        height 150px
        margin 0 auto 20px
        width auto

  #case
    img
      &.right
        display none

    .about
      .content
        .team
          li
            display block
            width 100%

  .coworkers
    .coworker
      width 100%

      &:nth-child(2n)
        text-align left

        .image
          float none
          margin-right 20px

        .info
          margin-right 0

  #coworker
    margin-top 40px

    .cases
      li
        text-align left
        width 100%

    .github
      li
        a
          display inline-block
          font-size 0.8em
          max-width 80%
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

  #page
    .history
      .year
        left 0
        margin-bottom 20px
        position relative

  #footer
    margin 40px 20px 0

    #followUs
      text-align left
      width 100%