@import "variable"

/**
 * Big screens > 1200px
 */
@media (max-width:980px)
  .case-index
    p,
    h2
      max-width 100%

  #cases
    .case
      display inline-block
      margin-right 3%
      vertical-align top
      width 31.1%

      &:nth-child(3n)
        margin 0

      .case-image
        display block
        margin 0 auto 20px
        max-height 200px
        width auto

      .case-about
        width 100%

/**
 * iPad landscape
 */
@media (max-width:1199px) and (min-width:980px)
  #coworker
    .social-media
      a:last-child
        display none


/**
 * iPad landscape
 */
@media (max-width:979px) and (min-width:768px)
  #case
    img
      &.right
        float right
        position relative
        right 0
        width 300px
    .about
      width 100%
  #coworker
    .social-media
      a:last-child
        display none

@media(max-width:979px)
  .container
    .page-content
      .text,
      .left-part
        width 100%
      .info,
      .right-part
        width 100%
        padding 0

  .medarbetare-index
    .container
      .page-content
        .info
          width 65%

  #coworker
    .desc
      vendor("column-count", 1)
      vendor("column-gap", 0)

    .user-content.multi
      width 100%

    .top-part
      .center
        width 100%
        margin-bottom 60px

      .left,
      .right
        top inherit
        vertical-align bottom
        max-width none
        width 50%

      .left
        bottom -50px
      .right
        bottom -65px
        .social-buttons
          text-align center
        .social
          text-align right

  #case
    .content
      .about,
      .quote
        width 100%
        float none
      .quote
        blockquote
          text-align left

      .twitter
        .tweets
          li
            width 100%
            max-width 370px
      .twitter,
      .relatedServices,
      .team
        li
          margin-left 0 !important


/**
 * iPad portrait
 */
@media (max-width:767px)

  #header

    .nav
      text-align right

    .brand
      float left
      position relative

  body
    padding 0


  #coworker
    .user-content
      &.multi ul,
      &.multi li,
      ul,
      li
        width 100%
        margin 0
        padding 0 !important

    .social-media
      a
        padding 0 10px 10px

  .background-image
    background-position 50% 0

  .container
    padding 0 20px

  .coworkers
    .coworker
      width 100%
      margin-left 0
      padding 0

      .info
        float left
        margin-left 15px

      a
        .image,
        &.portrait
          max-height 100px
          max-width 100px
          float left
          position relative

  #coworker .github .git
    width 100%
    &:last-child
      margin-left 0

  #case
    .content
      .about
        height 100%
        margin-bottom 20px
        img
          position relative
          width 100%
        .about-text
          position relative
          max-height none
          width 100%
          display block

  .visible-phone
    display none !important


/**
 * iPhone
 */
@media (max-width:480px)
  .index
    .container
      margin-top 0 !important

  .container
    margin 70px auto 0 !important
    .main-title
      margin-top -30px
      font-size 2.6em
      color #333 !important

  iframe
    height auto

  .visible-phone
    display inherit !important

  .background-image
    top -70px
    height 100%
    min-height 0
    max-height 170px
    position absolute
    display inline-block
  .container
    top 150px
    padding-bottom 150px

  a.btn
    font-family "Palatino", sans-serif;
    margin 0 0 10px
    width 100%

  #startpage
    margin-top 40px

  #header
    padding 20px 10px 5px 20px
    text-align left

    .brand
      top -10px
      width 80px

    #nowplaying
      margin-bottom 20px

    .nav,
    .subnav
      display none

    .openMobileNav
      color #fff
      position relative

      .e-list
        position absolute
        right -10px
        top -17px
        padding 10px 20px
        cursor pointer
        font-size 2em

  #mobileNav,
  .subpages
    background #333
    display block
    margin-top 0
    position absolute
    width 100%

    .back
      background #2b2b2b
      color #999
      cursor pointer
      padding 15px 20px

    > li
      trans background 300ms ease

      padding 0
      margin 0
      position relative

      &:hover
        background #444

      > div
        position absolute
        right 10px
        top 7px
        padding 8px 20px
        cursor pointer

    a
      display block
      padding 15px 20px
      margin 0

      &:hover
        color #ffbd09
        text-decoration none

      &.active
        color #fff

  #subpageWrap
    display block

  #navSubpages
    display none

  ul.subpages
    > li
      > div
        left 20px
        right auto
      > span
        margin-left 55px

  #cases
    .case
      .case-about
        width 100%
      .case-image
        display block
        max-height 200px
        max-width 360px
        margin 0 auto 20px
        width auto

  #case
    img
      &.right
        display none

    .about
      .content
        .team
          li
            display block
            width 100%

  .coworkers
    .coworker
      width 100%

      &:nth-child(2n)
        text-align left

        .image
          float none
          margin-right 20px

        .info
          margin-right 0

  #coworker
    margin-top 40px

    .image
      margin-top -205px

    .cases
      li
        text-align left
        width 100%

    .github
      li
        a
          display inline-block
          font-size 0.8em
          max-width 80%
          overflow hidden
          text-overflow ellipsis
          white-space nowrap

    .top-part
      margin-bottom 15px

      .center
        margin-bottom 10px

      .left,
      .right
        width 100%
        position relative
        bottom 0
        top 0
        left 0
        right 0
        text-align center
      .right
        .social
          text-align center

  #page
    .history
      .year
        left 0
        margin-bottom 20px
        position relative

  #footer
    margin 40px 0 0
    padding 0 20px
    width 100%
    #address
      width 100%

    #followUs
      width 100%
      position relative
      text-align center
