@import 'variable'

.carousel-inner
  height 450px
    
  .item
    height 100%

    .carousel-caption
      positioned('top-left', 50%,0,0,50%)
      translate-pos(-50%,-50%);

      font-size 4em
      right auto
      width 87%

      .sub-caption
        font-size 0.4em
