@import 'variable'

.carousel-inner
  height 450px
    
  .item
    height 100%

    img
      min-height 100%

    .carousel-caption
      positioned('top-left', 50%,0,0,50%)
      translate-pos(-50%,-50%);

      font-size 4em
      right auto
      width 1060px

      a
        color #fff

      .sub-caption
        font-size 0.4em

        .separator-before:before
          content "\2022"
          font-size 14px
          margin 0 5px
          position relative
          top -3px
