@import "variable";

#startpage
  .news
    background greyBg
    padding 0 15px 20px

    @media mobile
      padding-top 20px

      h2
        margin-top 0

    p
      margin 0
      max-width 515px

    img
      float left
      margin-right 20px
      margin-top 1px
      width 145px

      @media mobile
        display block
        float none
        margin-bottom 20px
        margin-left 0
        width 100%
