@import "variable";

#startpage .news
  background #f4f4f4
  padding 0 15px 20px

  p
    margin 0
    max-width 515px

  img
    float left
    margin-right 20px
    margin-top 1px
    width 145px

    @media mobile
      display block
      float none
      margin-bottom 20px
      margin-left 0
      width 100%
