@import "variable"

@keyframes animatein
  0%
    opacity 0
    left -100px
  100%
    opacity 1
    left 0px

@keyframes fadein
  0%
    left -100%
    vendor("transform", scale(0))
  100%
    left 0
    vendor("transform", scale(1))


@keyframes fadeout
  0%
    vendor("transform", scale(1))
  100%
    vendor("transform", scale(0.95))

@keyframes slidein
  0%
    left -100%
  100%
    left 0

@keyframes slideout
  0%
    right 0
  100%
    right -100%

/* Layout
---------------------------------------------*/
.row
  margin 0 !important
#nowplaying
  font-size 1em
  padding  40px 0 0

  > a
    display inline-block
    margin-right 20px
    vertical-align top
    width 20%

  #wejay
    margin-right 20px

  .info
    display inline-block

    p
      margin 0

    a
      display block
      line-height 1.5

#footer
  margin 40px auto
  max-width 1060px
  position relative

  > div
    display inline-block
    vertical-align top

  #address
    margin 0
    width 40%

    li
      font-size 0.8em
      margin-bottom 5px

      &.company
        font-size 1em
        margin-bottom 10px

  #followUs
    text-align right
    width 100%
    position absolute
    right 20px
    top 30px

    .e-github,
    .e-twitter,
    .e-facebook,
    .e-linkedin,
    .e-instagram
      opacity .4

    > a
      vendor("transition", color 300ms ease)

      color #999
      display inline-block
      font-size 2em

      &:not(:last-child)
        margin-right 20px

      &:hover
        color _orange

#subpages
  margin-bottom  20px
  padding  10px 0

  li
    display inline-block
    margin-right 20px

    &:not(:last-child)
      border-right 1px solid #ccc
      padding-right 20px

#github
  display none

.background-image
  top -302px
  z-index 0
  position absolute
  width 100%
  height 450px
  max-height 450px
  min-height 450px
  display block
  overflow hidden
  background-repeat no-repeat
  background-color white
  background-position 50% 50%
  vendor("background-size", cover)

.container
  box(border-box)
  background-color white
  z-index 1
  position relative
  padding 15px 55px
  margin-top 300px
  max-width 1060px

  h1
    position absolute
    margin-top -90px
    font-size 4em
    white-space nowrap
    line-height 1.2em
    text-shadow 1px 1px 1px rgba(255, 255, 255, 0.3)
    &.invert
      color white
      text-shadow 1px 1px 1px rgba(0, 0, 0, 0.3)

    small
      color inherit

  .page-content
    .top
      width 100%
    .text,
    .left-part
      float left
      width 50%
      vertical-align top
      margin 0
      padding 0
    .right-part
      display inline-block
      width 40%
      margin 0
      padding 0 5%
      float right
      vertical-align top
    .fluff
      width 100%
      display block
      float none
      clear both
      padding-top 1px

  .content
    .text
      iframe
        max-width 100%
        display inline-block

.header
  display block
  width 100%
  text-align center
  .title
    line-height 1.2em
    text-align center
    width 100%
    margin 0 auto 5px
    display block
    padding 40px 0

.split
  border-top 1px solid rgba(204, 204, 204, .2)
  margin-top 20px

.single-case
  animate(animatein, 1s)

#top-holder,
#main-holder,
#footer-holder,
.offset
  width 100%
  min-width none
  display block
  clear both
  position relative
  z-index 1
  background-color white

.offset
  height 50px
  z-index -120

#footer-holder
  margin 0 auto
  max-width 1060px
  padding 0 55px
  width 100%

#top-holder,
#footer-holder,
#footer
  box(border-box)
  *
    box(border-box)

#top-holder
  position fixed

#main-holder
  z-index 0
