@import "variable"

@keyframes animatein
  from
    left -100px
    opacity 0
  to
    left 0px
    opacity 1

/* Navbar
---------------------------------------------*/
#header
  box(border-box)

  background #333
  padding-bottom 10px
  position relative

  .header-inner
    margin 0 auto
    max-width 1170px

  .brand
    float left
    position relative
    z-index 1
    padding 5px 15px

  .nav,
  .subnav
    text-align right
    vertical-align top

    a
      color #ccc
      display inline-block
      margin 0
      height auto

      &:last-child
        margin 0

      &.active,
      &:hover
        color #ffbd09

      a:hover
        background none
        color #333

  .nav
    position relative
    text-align center
    top 6px
    margin 0
    padding 0
    a
      padding 15px

  .subnav
    z-index 10
    background #2b2b2b
    font-size 0.6em
    margin 0
    a
      padding 4px 15px

    .subnav-inner
      margin 0 auto
      max-width 1170px

      .btn
        shadow(none)

        background #666
        border none
        border-radius 0
        margin 0
        padding 5px 10px
        position relative
        text-shadow none

  .openMobileNav
    display none

#navSubpages
  background #444
  font-size 0.8em
  padding 10px
  text-align center

  .subpage-inner
    margin 0 auto
    max-width 850px

    a
      color #fff
      display inline-block
      margin 5px 0

      &.active,
      &:hover
        color #ffbd09

      &:not(:last-child)
        margin-right 20px

#mobileNav,
#subpageWrap
  display none
  z-index 10
  position relative

/* Layout
---------------------------------------------*/
.row
  margin 0 !important
#nowplaying
  font-size 1em
  padding  40px 0 0

  > a
    display inline-block
    margin-right 20px
    vertical-align top
    width 20%

  #wejay
    margin-right 20px

  .info
    display inline-block

    p
      margin 0

    a
      display block
      line-height 1.5

#footer
  margin 40px auto
  max-width 1170px
  padding 40px 20px 0
  position relative

  > div
    display inline-block
    vertical-align top

  #address
    margin 0
    width 40%

    li
      font-size 0.8em
      margin-bottom 5px

      &.company
        font-size 1em
        margin-bottom 10px

  #followUs
    text-align right
    width 100%
    position absolute
    right 20px
    top 20px

    > a
      -webkit-transition color 300ms ease

      color #999
      display inline-block
      font-size 2em

      &:not(:last-child)
        margin-right 20px

      &:hover
        color  #ffbd09

#subpages
  margin-bottom  20px
  padding  10px 0

  li
    display inline-block
    margin-right 20px

    &:not(:last-child)
      border-right 1px solid #ccc
      padding-right 20px

#github
  display none

.index
  .background-image
    height 750px
    max-height 750px
    background-position top
  .container
    margin-bottom 140px
    max-width 500px
    margin 40px auto

.background-image
  top -190px
  z-index 0
  position absolute
  width 100%
  height 450px
  max-height 450px
  min-height 450px
  display block
  overflow hidden
  background-repeat no-repeat
  background-color white
  background-position 50% 50%
  vendor("background-size", cover)

.container
  background-color white
  z-index 1
  position relative
  padding 15px 55px
  margin-top 190px
  max-width 1060px


  .main-title
    position absolute
    margin-top -90px
    font-size 4em
    white-space nowrap
    line-height 1.2em
    small
      color inherit

  .page-content
    .top
      width 100%
    .text,
    .left-part
      float left
      width 50%
      vertical-align top
      margin 0
      padding 0
    .info,
    .right-part
      display inline-block
      width 40%
      margin 0
      padding 0 5%
      float right
      vertical-align top
    .fluff
      width 100%
      display block
      float none
      clear both
      padding-top 1px

.header
  display block
  width 100%
  text-align center
  .title
    line-height 1.2em
    text-align center
    width 100%
    margin 0 auto 5px
    display block
    padding 40px 0

.split
  border-top 1px solid rgba(204, 204, 204, .2)
  margin-top 20px


.single-case
  vendor("animation-duration", 1s)
  vendor("transform-origin", 50% 50%)
  vendor("animation-iteration-count", 1)
  vendor("animation-timing-function", ease)
  vendor("animation-name", animatein)

#top-holder,
#main-holder,
#footer-holder
  width 100%
  min-width none
  display block
  clear both
  position relative
  z-index 1
  background-color white

#footer-holder
  margin 0 auto
  width 100%

#top-holder,
#footer-holder
  box(border-box)
  *
    box(border-box)

#main-holder
  z-index 0