@import "variable"

@keyframes animatein
  0%
    opacity 0
    left -100px
  100%
    opacity 1
    left 0px

@keyframes animateup
  0%
    margin-top 300px
  100%
    margin-top 30px

@keyframes fadein
  0%
    trans(scale(0))
    left -100%
  100%
    trans(scale(1))
    left 0


@keyframes fadeout
  0%
    trans(scale(0))
  100%
    trans(scale(0.95))

@keyframes slidein
  0%
    left -100%
  100%
    left 0

@keyframes slideout
  0%
    right 0
  100%
    right -100%

/* Layout
---------------------------------------------*/
.row
  margin 0 !important


section
  padding-top: 70px;
  padding-botttom: 70px;

#nowplaying
  font-size 1em
  padding 40px 0 0

  > a
    display inline-block
    margin-right 20px
    vertical-align top
    width 20%

  #wejay
    margin-right 20px

  .info
    display inline-block

    p
      margin 0

    a
      display block
      line-height 1.5

#footer .row
  > div
    display inline-block
    vertical-align top

    @media mobile
      display block
      margin-top 20px

  #address

    @media mobile
      width 100%

    li
      font-size 0.8em
      margin-bottom 5px

      &.company
        font-size 1em
        margin-bottom 10px

  #followUs
    text-align right

    @media mobile
      text-align center

    .e-mail
      positioned('top', 'right', 4px, 0, relative)

      font-size 1.2em

    > a
      vendor("transition", color 300ms ease)

      color #999
      display inline-block
      font-size 2em

      &:not(:last-child)
        margin-right 20px

      &:hover
        color _orange

#subpages
  margin-bottom  20px
  padding 10px 0

  li
    display inline-block
    margin-right 20px

    &:not(:last-child)
      border-right 1px solid #ccc
      padding-right 20px

.background-image
  positioned('top', 'right', -305px, 0)
  vendor("background-size", cover)

  z-index 0
  width 100%
  height 450px
  max-height 450px
  min-height 450px
  display block
  overflow hidden
  background-repeat no-repeat
  background-color silver
  background-position 50% 50%

  @media mobile
    height 220px
    max-height 220px
    min-height 220px
    top -69px

.container
  box(border-box)

  background-color white
  z-index 1
  position relative
  padding 15px 55px
  margin-top 300px
  max-width 1060px

  @media mobile
    padding 15px 20px

  .content > h1
    position relative
    margin-top -90px
    font-size 4em
    white-space nowrap
    line-height 1.2em
    text-shadow 1px 1px 1px rgba(255, 255, 255, 0.3)
    &.invert
      color white
      text-shadow 1px 1px 1px rgba(0, 0, 0, 0.3)

    small
      color inherit

  .page-content
    .top
      width 100%
    .text,
    .left-part
      float left
      width 50%
      vertical-align top
      margin 0
      padding 0
    .right-part
      display inline-block
      width 40%
      margin 0
      padding 0 5%
      float right
      vertical-align top
    .fluff
      width 100%
      display block
      float none
      clear both
      padding-top 1px

  .content .text iframe
    max-width 100%
    display inline-block

.header
  display block
  width 100%
  text-align center
  .title
    line-height 1.2em
    text-align center
    width 100%
    margin 0 auto 5px
    display block
    padding 40px 0

.split
  border-top 1px solid rgba(204, 204, 204, .2)
  margin-top 20px

body[class^="medarbetare"] > #main-holder > .container, .single-case
  animate(animatein, 1s)

  @media mobile
    animate(none, 0)


#top-holder,
#main-holder,
#footer-holder,
.offset
  width 100%
  min-width 0
  display block
  clear both
  position relative
  background-color white

.offset
  height 50px
  z-index -120

.row.contact
  padding 50px 0 
  input
    height 50px
    font-size 20px

    &:last-child
      margin-right 0

#top-holder,
#footer-holder,
#footer
  
  box(border-box)
  *
    box(border-box)

#top-holder
  position fixed

#main-holder
  z-index 0
