igrey = #231F20
_orange = #ffbd09
iorange = #FFBD09
iorangergb = rgb(255,189,9)
bgBoxes = rgba(0,0,0,0.3)
sansSerifFontStack = "AvantGarde ExtraLight", "Tex Gyre Adventor Regular", Franklin Gothic Book, Arial, Sans-Serif
serifFontStack = "Palatino Linotype", serif
monospaceFontStack = "Monaco", "Menlo", "Consolas", "Courier New", "monospace"

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

trans()
  vendor("transform", arguments)

origin()
  vendor("transform-origin", arguments)

transition()
  vendor("transition", arguments)

mason(count = 2, gap = 25px)
  vendor("count", count)
  vendor("gap", gap)

box()
  vendor("box-sizing", arguments)

shadow()
  vendor("box-shadow", arguments)

border-radius()
  vendor('border-radius', arguments)

positioned(direction, top = 0, right = 0, bottom = 0, left = 0)
  position absolute
  if direction = 'top-right'
    right right
    top top
  if direction = 'top-left'
    left left
    top top
  if direction = 'bottom-right'
    bottom bottom
    right right
  if direction = 'bottom-left'
    bottom bottom
    left left

translate-pos(x,y)
  vendor("transform", translateX(x) translateY(y))

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

two-column(count = 2, gap = 20px)
  vendor('column-count', count)
  vendor('golumn-gap', gap)

user-select()
  vendor('user-select', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

animate(name, duration = .5s, timing = ease, iteration = 1)
  vendor("animation-name", name)
  vendor("animation-duration", duration)
  vendor("animation-timing-function", timing)
  vendor("animation-iteration-count", iteration)

zoom-cursor(direction = "in")
  cursor -webkit-zoom- + direction
  cursor -moz-zoom- + direction
  cursor -ms-zoom- + direction
  cursor -o-zoom- + direction
  cursor zoom- + direction

svg(icon = "")
  background-image url("/content/images/svg/" + icon + ".svg")


/**
 * Responsive variables
 */
tablet = "(max-width:979px)"
mobile = "(max-width:480px)"