---
title: "Våra tjänster"
layout: section
tags: ['intro', 'page']
pageIndex: 1
subpages: 'tjanster'
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/varatjanster3.JPG"
backgroundDark: true

img: "/content/images/section-topbilder/placeholder.jpg"
---

.row
  h2 Vi arbetar med Rådgivning, Systemutveckling och Drift & Support.

  :markdown
    Resultatet blir bl.a. digitala tjänster, siter, verktyg, analys av IT-miljö samt förstudier.
    Läs mer om våra tjänster här nedan. För mer information kontakta [Hans Rollman](/medarbetare/hans).

.row
  img.tjanst(src=document.img)

.row-fluid.tjanster
  each doc in getCollection('tjanster').toJSON()
    .span4.offer
      a.title(href=doc.url)= doc.title

      p!= doc.summary