---
title: "Våra tjänster"
layout: section
tags: ['intro', 'page']
pageIndex: 1
subpages: 'tjanster'
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/dem-awards-bw-cropped.jpg"
backgroundDark: true
---
h2 Vi arbetar med Systemutveckling, Drift och Support samt Rådgivning. 
:markdown
 Resultatet blir bl.a. digitala tjänster, siter, verktyg, analys av IT-miljö samt förstudier.
 Läs mer om våra tjänster här nedan. 

.row-fluid.tjanster
  each doc in getCollection('tjanster').toJSON()
    .offer
      a(href=doc.url)
        h2= doc.title

      p!= doc.summary