---
title: "Våra tjänster"
layout: section
tags: ['intro', 'page']
pageIndex: 1
subpages: 'tjanster'
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/varatjanster4.JPG"
backgroundDark: true

chevron: true
---

.row
  h2 Vi arbetar med Rådgivning, Systemutveckling och Drift & Support.

  :markdown
    Resultatet blir bl.a. digitala tjänster, siter, verktyg, analys av IT-miljö samt förstudier.
    Läs mer om våra tjänster här nedan. [Hans Rollman](/medarbetare/hans) har alla svar på frågor kring Rådgivning och Systemutveckling. [Mats Egardt](/medarbetare/mats) berättar allt om It-Support.
  img: "/content/images/section-topbilder/placeholder.jpg" 

.row-fluid.tjanster
  each doc in getCollection('tjanster').toJSON()
    .span4.offer
      a.title(href=doc.url)= doc.title

      p!= doc.summary
