@import "variable"
.coworkers
  .coworker
    display inline-block
    margin-bottom:40px
    vertical-align:top
    width: 49%
    position relative

    &:nth-child(2n-1)
      margin-right:10px

    &:last-child
      margin-bottom 0

    p
      margin-bottom 0

    a
      display inline-block

      &:hover
        color:#333

      &.portrait
        vertical-align top
        width 30%
        position absolute
        top 10px
        margin 0

      &.email
        font-size:0.8em

      .image
        border-radius:100px
        display inline-block
        vertical-align:top
        width:100%

    .title
      margin-bottom 5px
      line-height 1.4em

    .info
      display inline-block
      width 55%
      margin-left 25%
      padding 0 5%
      float right

#coworker

  #toAngular
    display:none

  .image
    border-radius 300px
    border 10px solid #ffbd09
    margin 0 auto
    padding 5px
    width 200px
    height 200px
    position  relative

    img
      z-index 1
      border-radius 200px
      width 200px
      position relative

  .sun
    border none
    text-align center
    background #ffbd09
    border-radius 0
    z-index 0
    width 200px
    height 200px
    padding 0
    margin 10px auto 40px

    img
      border 5px solid white
      left -5px
      top -5px

    &:after,
    &:before
      z-index 0
      top 0
      left 0
      height 200px
      width 200px
      background #ffbd09
      content ""
      position absolute
      trans rotate(30deg)

    &:after
      trans rotate(-30deg)

  .heart
    border none
    border-radius 0
    background transparent
    padding 0
    width 250px
    height 250px

    &:before,
    &:after
      top 0
      position absolute
      content ""
      width 150px
      height 250px
      background #D80829
      -moz-border-radius 100px 100px 0 0
      border-radius 100px 100px 0 0

    &:before
      left 125px
      trans rotate(-45deg)
      origin 0 100%

    &:after
      left -25px
      trans rotate(45deg)
      origin 100% 100%

    img
      left 35px
      top 11px
      width 175px
      height 175px
      border 5px solid white

  .name, .job, .email, .phone
    text-align:center

  .name
    margin-top:20px
  .job
    margin-bottom:20px
  .email
    a
      display inline-block
      margin-bottom:10px

  .title
    background:#fff
    font-size:1.2em
    text-align:center
    width:180px
    margin:-72px auto 0
    display:block
    padding:20px 0

  .social
    position: relative
    margin: 0px auto
    width: 100%
    display: inline-block
    text-align: center

  .social-media, .github, .cases
    border-top 1px solid #ccc
    margin-top 40px
    padding-top 40px
    position relative
    text-align center

  .social-media, .github, .cases, .social

    a
      transition color 300ms ease

      display inline-block
      color #666
      font-size 2em

      > div
        display inline-block
        margin-right 20px

      &:last-child
        > div
          margin-right 0

      &:hover
        color #ffbd09

  .social-media
    a
      margin 0 20px

  .github,
  .cases
    text-align:left

    .git-title
      margin 0 0 10px
      font-size 1.15em

    .git
      vertical-align top
      width 48%
      display inline-block
      margin 0
      padding 0
      height auto
      &.single
        width 100%

      li
        border-bottom 1px solid #f9f9f9

    .git:last-child
      margin-left 2%

    .title
      width 200px

    li
      margin-bottom 10px
      position relative

      a
        color #ffbd09
        font-size 1em

        &:hover
          color #666

      .git-info
        width 80%

      p
        margin 10px 0 0
        line-height 1.8em
        font-size .9em

      .git-language
        margin-top 10px
        font-family Monaco, Menlo, Consolas, "Courier New", monospace
        font-size 0.7em
        color #999

      .git-time
        color #999
        font-family 'Palatino'
        font-size 0.6em
        position absolute
        top 0
        right 0
        width 20%
        text-align right


  .cases
    .title
      width 220px

    li
      display inline-block
      text-align center
      width 49%
