@import "variable"
/* Variables
---------------------------------------------*/
igrey = #231F20
iorange = #FFBD09
iorangergb = rgb(255,189,9)
bgBoxes = rgba(0,0,0,0.3)
opsBg = url("/content/images/operations.jpg")
regularBg = url("/content/images/madmen.png")
careerBg = url("/content/images/madmen.png")

/* General
---------------------------------------------*/
a, a:link
  color: orange
  cursor: pointer
  text-decoration: none

a.btn
  box border-box

  background:orange
  color:#fff
  display:inline-block
  font-size:12px
  margin-right:20px

body,html
  background:#fff
  font-family: "AvantGarde ExtraLight" , Franklin Gothic Book, Arial, Sans-Serif
  font-size: 1em
  height:100%;
  overflow-x:hidden
  position relative

p
  color:#666
  font-family: "Palatino"
  line-height:2
  color: #666;
  line-height 1.6
  margin-bottom 20px
  font-size 17px
  font-weight 100
  letter-spacing 0
  max-width 450px

  a
    font-family: "AvantGarde ExtraLight" , Franklin Gothic Book, Arial, Sans-Serif

ul
  list-style:none
  margin:0
  padding:0

pre
  margin-bottom:20px

iframe
  margin-bottom:20px
  max-height:25%
  max-width:100%

/* Headings
---------------------------------------------*/
h1, h2, h3, h4
  font-weight: normal

h2
  font-size:24px