---
title: Blogg
layout: section
pageIndex: 12
dontIndexInAnyCollection: true
---
each doc in getCollection("blogg").toJSON()
  section.post
    header
      .date= doc.date.toDateString()
      .category= doc.category
      a.title(href= doc.url)= doc.title
    article= doc.intro