---
title: Blogg
layout: default
pageIndex: 12
dontIndexInAnyCollection: true
backgroundImage: "http://i.bldr.se/qkTj4.jpeg"
backgroundDark: true

---

include ../../jade_includes/mixin.jade

h1.main-title(style=shouldWeUseADarkBackground())= document.title

.row-fluid()

  article#post.post

    .page-content
      .left-part
        each doc in getCollection("blogg").toJSON()
          mixin blogg(doc, true)