---
title: "Affärsförfrågan"
pageOrder: 1
ignored: true
---

Är du intresserad av att anlita oss för ditt projekt? Skriv några rader och berätta mer så kontaktar vi dig inom kort. Vill du kan du såklart alltid nå Hans Rollman, ansvarig för dig som är ny kund,  direkt på telefon eller mail - uppgifter finner du <a href="/medarbetare/hans" target="blank">här</a>. Vi ser fram mot att höra mer. Välkommen till Iteam.