---
title: Arbeta ihop med oss
pageOrder: 2
---

Är du i Stockholm? Då är du varmt välkommen upp till oss på Tegnérgatan 28, 6tr. Våra ljusa, nyrenoverade lokaler inbjuder till både inspirerande möten, koncentrerat arbete - liksom en fika eller kanske en kall öl på fredag efter jobbet. Välkommen upp.