---
title: Feedback
layout: page
tags: []
pageIndex: 13
pageType: 'kontakt'
dontIndexInAnyCollection: true
---

p Tyck till om oss. Vi värdesätter högt vad just du tycker om vår sajt, om våra tjänster, om vår lokal. Ju mer vi får berättat för oss om hur vi uppfattas - ju bättre och snabbare kan vi utvecklas. Vår strävan är att kontinuerligt förbättra och effektivisera oss - allt för att ge dig en roligare upplevelse och bättre tjänster.
