---
title: Case
layout: section
tags: ['intro', 'page']
pageOrder: 2
subpages: 'case'
---

.row-fluid#cases
  each doc in getCollection('case').toJSON()
    .case
      if (doc.images)
        a(href=doc.url)
          img(src="/content/images/" + doc.images[0], class="case-image")
      else
        img(src="http://lorempixel.com/100/100", class="case-image")
      .case-about
        a(href=doc.url)
          h2.case-title= doc.title
        p= doc.intro