---
title: Fjärrhjälp
layout: page
tags: ['Drift &amp; support','mats','rasmus']
pageOrder: 16
---

h2 Vi hjälper dig med din dator
p Ring +46(0)8-26 70 90
p Välj 1 i telefonväxeln. Klicka därefter på någon av länkarna nedanför.
a.btn(href="../../../files/IteamRemoteControlWindows.exe") Fjärrstyr min PC
a.btn(href="../../../files/MacRemote.dmg") Fjärrstyr min Mac