---
title: Tjänster
layout: section
tags: ['intro','page']
pageOrder: 1
subpages: 'tjanster'
---

.row-fluid
  each doc in getCollection('tjanster').toJSON()
    .offer
      a(href=doc.url)
        h2= doc.title
      img.service-icon(src=doc.icon)
      p= doc.summary