.slide-hide, .slide-show 
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;

.slide-hide 
    display:none;

.slide-hide.slide-hide-active 
    display:none;

.slide-show 
    height:0

.slide-show.slide-show-active 
    height:360px
