.blog
  .post
    margin-bottom:40px

    header      
      .date
        color:#666
        font-family:'Palatino'
        font-size:14px

      .title
        display inline-block
        font-size:24px
        margin:20px 0

    article
      color:#666
      font-family:'Palatino'
      line-height:2

#post
  margin-top:40px

  .post-title
    margin:20px 0 40px

  .post-content
    color: #666

  .post-author
    border-top: 1px solid #ccc
    padding-top: 20px
    margin-top: 40px

    a
      display block
      margin-bottom:5px