.coworkers
  .coworker
    display inline-block
    margin-bottom:40px
    vertical-align:top
    width: 49%
    position relative

    &:nth-child(2n-1)
      margin-right:10px

    &:last-child
      margin-bottom 0

    p
      margin-bottom 0

    a
      display inline-block

      &:hover
        color:#333

      &.portrait
        vertical-align top
        width 30%
        position absolute
        top 10px
        margin 0

      &.email
        font-size:0.8em

      .image
        border-radius:100px
        display inline-block
        vertical-align:top
        width:100%

    .title
      margin-bottom 5px
      line-height 1.4em

    .info
      display inline-block
      width 55%
      margin-left 25%
      padding 0 5%
      float right

#coworker
  #toAngular
    display:none

  .image
    border-radius: 300px
    border: 10px solid #ffbd09
    margin: 0 auto
    padding: 5px
    width: 200px

    img
      border-radius:200px
      width:200px
  .name, .job, .email, .phone
    text-align:center

  .name
    margin-top:20px
  .job
    margin-bottom:20px
  .email
    a
      display inline-block
      margin-bottom:10px

  .title
    background:#fff
    font-size:1.2em
    text-align:center
    width:180px
    margin:-72px auto 0
    display:block
    padding:20px 0

  .social
    position: relative
    margin: 0px auto
    width: 100%
    display: inline-block
    text-align: center

  .social-media, .github, .cases
    border-top:1px solid #ccc
    margin-top:40px
    padding-top:40px
    position:relative
    text-align:center

  .social-media, .github, .cases, .social

    a
      -webkit-transition:color 300ms ease

      color:#666
      font-size:2em

      > div
        display inline-block
        margin-right:20px

      &:last-child
        > div
          margin-right:0

      &:hover
        color:#ffbd09

  .github, .cases
    text-align:left

    .title
      width:200px

    li
      margin-bottom:10px
      position: relative

      a
        color:#ffbd09
        font-size:1em

        &:hover
          color:#666

      .push-time
        color:#999
        font-family:'Palatino'
        font-size:0.6em
        position:absolute
        right:0
        top:0


  .cases
    .title
      width:220px

    li
      display: inline-block
      text-align:center
      width:49%