#sendFeedback
  margin-top:40px

  ul
    border-bottom: 1px solid #ccc
    margin-bottom: 20px
    padding-bottom: 20px
    li
      border-right: 1px solid #ccc
      display: inline-block
      margin-right: 20px
      padding-right: 20px