/* Font-face
---------------------------------------------*/
@font-face
  font-family: "AvantGarde ExtraLight";
  src: url(/fonts/lte52009.ttf) format('truetype'); /* TTF file for CSS3 browsers */  

/* Variables
---------------------------------------------*/
orange = #FFBD09
bgBoxes = rgba(0,0,0,0.3)
opsBg = url(http://iteam.se/uploads/eastwing.png)
regularBg = url(http://iteam.se/uploads/madmen.png)
careerBg = url(http://iteam.se/uploads/gruppbild.jpg)

/* Mixins
---------------------------------------------*/
box-sizing(model)
  box-sizing model
  -webkit-box-sizing model
  -moz-box-sizing model

/* General
---------------------------------------------*/
a, a:link
  color: orange
  cursor: pointer
  text-decoration: none

a.btn
  background:orange
  color:#fff
  display:inline-block
  margin-right:20px

body
  background: bgBoxes regularBg no-repeat center fixed;
  background-size: cover;
  color: #fff;
  font-family: "AvantGarde ExtraLight" , Franklin Gothic Book, Arial, Sans-Serif
  height:100%;
  padding-top 120px

  &.operations
    background: bgBoxes opsBg no-repeat center fixed;
    background-size: cover;
  
  &.sections-career
    background: bgBoxes regularBg no-repeat center fixed;
    background-size: cover;
    
p
  font-family: "Palatino"
  line-height:1.75

table
  tfoot, tbody
    th
      border-top: 1px solid #DDD;

footer
  padding-bottom: 30px

/* Headings
---------------------------------------------*/
h1, h2, h3, h4
  font-weight: normal

h2
  font-size:24px

/* Navbar
---------------------------------------------*/
.navbar-inverse
  
  .navbar-inner
    padding: 10px

    .nav
      top: 6px
      
      > li > a, a:hover
        color: #fff

      > li.active > a
        color: orange

      > li > a:hover
        color: orange

/* Layout
---------------------------------------------*/
.brand img
  width: 80px

.hero-unit
  background: bgBoxes
  border-radius:0
  margin-bottom:40px

.linklist li
  list-style:none

.row-fluid
  margin-bottom:20px

.news
  box-sizing(border-box)
  padding:20px

  h2
    margin-top:0
  a.btn
    color:#000
  ul
    margin:0

blockquote
 font-size: 24px
 line-height: 1.2

/* Cases */
.projectMembers
  ul
    margin: 0
    margin-top: 40px
    li
      display: inline-block
      margin-right: 20px
      padding: 10px 0
      width: 30%
  .memberImg
    display: none
    margin-right: 10px
    width: 50px

/* Coworkers */
.coworkers
  text-align: center
  .image
    border-radius: 150px
    display: block
    margin: 0 auto 20px auto
    width: 150px
  .name
    h4
      margin: 5px

/* Career */
.sections-career
  #page
    background:bgBoxes
    box-sizing(border-box)
    padding:20px

article
  background:bgBoxes
  box-sizing(border-box)
  padding:20px

/* Blog */
.blog
  .post
    margin-bottom: 20px

/* Media queries */
@media (max-width: 979px)
  body
    padding-top:0
