a, a:link
  cursor pointer

.navbar-inverse .nav > li > a,  a,  a:hover,  a:active, a:visited
  color: #FFBD09
  text-decoration: none

.navbar-inner
  padding: 10px;


h1, h2, h3, h4
  font-weight: normal

body
  padding-top 120px
  font-family: "AvantGarde ExtraLight" , Franklin Gothic Book, Arial, Sans-Serif
  background: #000;
  color: #fff;
  background: rgba(0, 0, 0, 0.2) url(http://iteam.se/uploads/plattformar.jpg);


body.operations
  background: rgba(0, 0, 0, 0.2) url(http://iteam.se/uploads/westwing.png;


.hero-unit p
  font-family: "AvantGarde ExtraLight";

p
  font-family: "Palatino"

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px


@font-face
  font-family: "AvantGarde ExtraLight";
  src:    url(/fonts/lte52009.ttf) format('truetype'); /* TTF file for CSS3 browsers */  


article, .hero-unit
  background: rgba(0,0,0,.12)
  font-family: "AvantGarde ExtraLight" , Franklin Gothic Book, Arial, Sans-Serif

.linklist li
  list-style:none;

a.btn
  color:#000;

