/* Font-face
---------------------------------------------*/
@font-face
  font-family: "AvantGarde ExtraLight";
  src: url(/fonts/lte52009.ttf) format('truetype'); /* TTF file for CSS3 browsers */  

@font-face
  font-family: 'Entypo';
  src:url(/fonts/Entypo-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;

/* Variables
---------------------------------------------*/
igrey = #231F20
iorange = #FFBD09
iorangergb = rgb(255,189,9)
bgBoxes = rgba(0,0,0,0.3)
opsBg = url(http://iteam.se/uploads/operations.jpg)
regularBg = url(http://iteam.se/uploads/madmen.png)
careerBg = url(http://iteam.se/uploads/madmen.png)

/* Mixins
---------------------------------------------*/
box-sizing(model)
  box-sizing model
  -webkit-box-sizing model
  -moz-box-sizing model

box-shadow(shadow)
  box-shadow: shadow
  -webkit-box-shadow: shadow
  -moz-box-shadow: shadow