/* Layout
---------------------------------------------*/
.brand img
  width: 80px

.hero-unit
  background: regularBg
  background-size:100%
  border-radius:0
  color:#fff
  margin-bottom:40px


.linklist li
  list-style:none

.row-fluid
  margin-bottom:20px

.news
  box-sizing(border-box)
  padding:20px

  h2
    margin-top:0
  a.btn
    color:#000
  ul
    margin:0

blockquote
 font-size: 24px
 line-height: 1.2

#content
  > .row-fluid
    article
      background:bg

#page, #content
  .row-fluid > article,
  > .row-fluid article
    box-sizing(border-box)
    color:#999

    padding:20px

/* Cases */
.projectMembers
  ul
    margin: 0
    margin-top: 40px
    li
      display: inline-block
      margin-right: 20px
      padding: 10px 0
      width: 30%
  .memberImg
    display: none
    margin-right: 10px
    width: 50px

/* Coworkers */
.coworkers
  text-align: center
  .image
    
    display: block
    margin: 0 auto 20px auto
    width: 150px
  .name
    h4
      margin: 5px

/* Career */
.sections-career
  #page
    background:bgBoxes
    box-sizing(border-box)
    padding:20px

/* Blog */
.blog
  .post
    margin-bottom: 20px

/* Media queries */
@media (max-width: 979px)
  body
    padding-top:0