---
title: Karriär
layout: section
tags: ['intro', 'page']
pageType: "karriar"
pageIndex: 4
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/isolde.jpg"
background: 'invert'

chevron: true
---

.row-fluid#karriar
  .row
    .col-md-6
      :markdown
       ## Vi älskar spontanansökningar

        Vi söker alltid nya talanger. Men det är svårt att sätta fingret på hur rollbeskrivningarna ska se ut. Det vi letar efter är personligheter som sticker ut och passar in. Därför älskar vi spontanansökningar.

        Vi arbetar med olika tekniker som HTML5, ASP.NET MVC 3, Node.js, AngularJS, RavenDB och MongoDB. Eller det som känns spännande och bär på lösningen.

        Visst kan vi sätta namn på våra roller i dagsläget, men det betyder inte att vi söker någon med just precis samma erfarenheter och kunskaper som våra medarbetare har. Snarare tvärtom.
        Men för att förtydliga hur vår organisation ser ut så kan du läsa mer under [Att jobba hos oss](karriär/att jobba hos oss).

        På vår blogg [tekniken.nu](//tekniken.nu) delar vi med oss av våra idéer och upptäkter.

        Kontakta gärna [Sophie Raland Wesslau](/medarbetare/sophie) om du vill veta mer.
    
    #opportunities.col-md-5.col-md-offset-1
      h2 Just nu söker vi
      ul
        each career in getCollection('ledigatjanster').toJSON()
          if !!career.title
            li
              a.title(href=career.url)= career.title + ' »'
              p!= career.summary