---
title: Karriär
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'
keywords: ''
standalone: true

layout: section
tags: ['intro', 'page']
pageType: "karriar"
pageIndex: 4
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/isolde.jpg"
background: 'invert'

chevron: true
---

row-fluid#career
  .row
    .col-md-6.hidden-xs

      #opportunities
        h2 Just nu söker vi
        ul
          each career in getCollection('ledigatjanster').toJSON()
            if !!career.title
              li
                a.title(href=career.url)= career.title
                p!= career.summary

      :markdown
        ## Varför Iteam?

        Vi vet att ett kreativt kunskapsföretag inte är bättre än glädjen hos sina medarbetare och därför prioriterar vi att få en stimulerande 
        arbetsmiljö där vi lär oss av varandra, väljer utmanande projekt och där vi aldrig skickar ut konsulter ensamma på för långa uppdrag som konsulter.

      :markdown
        ![Elisabeth](/content/images/ovrigt/elisabeth.jpeg)

        ## 12 veckor på Iteam som praktikant!
 
        En vecka efter att ha gjort min sista arbetsdag här på Iteam tänkte jag försöka mig på att sammanfatta dessa lärorika veckor på företaget.
         
        Men först - här kommer en kort presentation om praktikanten/författaren.
        Jag heter Elisabeth och 26 år gammal. Pluggar [Applikationsutveckling.NET](http://www.plushogskolan.se/Utbildning/Utbildningar/Applikationsutvecklare.aspx), en YH-utbilning på Teknikhögskolan i Liljeholmen. 
        Innan jag började utbildningen hade jag aldrig skrivit en rad kod i hela mitt liv, så jag började i princip från scratch med att skriva .
         
        Under utbildningen varvas kurser med LIA (Lärande i Arbete), en variant av praktik där tanken är att man som elev ska få en inblick hur det kan se ut på en arbetsplats samt att få chansen att testa sina nya kunskaper.
        Och nu, efter ca en termin med kurser var det dags att ge sig ut på LIA och få ett smakprov på hur en programmerare jobbar hos Iteam.
         
        Hos Iteam har jag i princip varit som en i teamet, även om det skiljde sig eoner kunskapsmässigt mellan dem och mig. Men som praktikant är man ju trots allt där för att lära.
        Och lärt mig har jag! Hade turen att få sitta med på två vitt skilda projekt och ta mig an lite olika uppgifter i både front- och backend.
        Jag har även fått delta i dailys med kunder, varit med på retrospektives och planeringar och såklart fått koda!
         
         
        Här kommer en liten summering av vad jag har lärt mig under min tid:
        - Det finns mycket annat runt själva programmeringen som en utvecklare måste göra; planering, möten, sprintreviews,tidsrapportering, etc.
        - Skillnaden mellan olika projekt kan vara stor. De kan ha mer eller mindre javascript, olika CMS, plugins,etc.
        - Att skriva ett test till en funktion kan vara minst lika meckigt som att skriva själva funktionen.
        - Att ge sig på att skriva en recursion kan vara lätt huvudvärksframkallande.  
        - Man blir aldrig fullärd. Google is your friend.
        - Programmerare kan vara väldigt sociala och roliga. Stort tack till Iteam för att de spräckte min fördom. :)
         

        För mig som student har LIA:n varit ovärderlig, för det finns mycket man lär sig på arbetsplatsen som skolan inte lär ut (se alla summeringspunkter ovan). Och framförallt kommer inte arbetslivet att kännas som en chock när man ger sig ut i den efter skolan.  
         
        Det har kort sagt varit en härlig tid med härliga (och extremt kunniga) människor. Ett stort tack till hela Iteam-gänget!
         
        // Elisabeth, student på Teknikhögskolan

    .col-md-6.our-roles
      :markdown
        ## Värde, kvalitet och gemenskap
        För oss handlar arbetet varje dag om driva våra kunders affärer och lösningar framåt. Samtidigt som vi vill utvecklas. Värde, kvalitet och gemenskap är självklarheter hos oss. Gemenskapen är vårt kitt och det som gör vår organisation platt och prestigelös.

        ## Varför vi gillar att jobba på Iteam
        * Alla kollegor älskar teknik
        * Lab & träning är alltid inplanerat
        * Gemensam måndagsfrukost med rullande schema för ansvaret
        * Kontoret ligger mitt i stan och utsikten är kanon
        * Vi spelar ofta rundpingis
        * Vi har planerade AW's en gång i månaden och en del oplanerade
        * Vi tillämpar flex och vi har 6 veckors semester
        * Övertid är inget som förväntas av oss
        * Alla delar på julbonus varje år och vi har generöst friskvårdsbidrag
        * Vi går i strumplästen och vi skrattar



      :markdown
        ## Vi älskar spontanansökningar
        Vi söker alltid nya kollegor som är engagerade. Du brinner gärna för dina privata projekt vid sidan om Iteam, och du pysslar gärna med dina egna grejer för att utvecklas. Det är lätt att säga att vi söker talang, vilket vi såklart gör, men vi vill fokusera på personligheter som bidrar.<br/>
        Är du intresserad av oss, tveka inte att kontakta [Sophie Raland Wesslau](/medarbetare/sophie).

        ## Våra befintliga roller

        ### [Senior Webbutvecklare](/medarbetare/johanna)
        Mål: **Stabilitet & trygghet.**<br/>
        Vad: Ny-/produktutveckling (Scrum). Förvaltning. (Kanban). Tech lead i våra projektteam. Devops för miljöer och releasehantering.<br/>
        *Verktyg: Proof of concept. .NET, Node.js, Angular.JS, SQL/NoSQL. Automatisk och manuell testning.*

        ### [Technical Creative Director](/medarbetare/johan)
        Mål: **Innovation.**<br/>
        Vad: Rådgivning till produktägare, beställare eller externa utvecklingsteam. Tech lead i våra projektteam och/eller tekniskt stöd till Senior webbutvecklare. Devops.<br/>
        *Verktyg: Labb. Omvärldsbevakning. Förstudie. Konceptutveckling. Proof of concept. .NET, Node.js, Angular.JS, SQL/NoSQL. Automatisk och manuell testning.*

        ### [Frontendutvecklare](/medarbetare/rickard)
        Mål: **Enkelhet.**<br/>
        Vad: Ny-/produktutveckling (Scrum). Förvaltning. (Kanban)<br/>
        *Verktyg: Proof of concept. HTML5, CSS3, LESS, Angular.JS, SQL/NoSQL. Automatisk och manuell testning.*

        ### [Projektledare](/medarbetare/maria)
        Mål: **Kontroll.**<br/>
        Vad: Ny-/produktutveckling samt rådgivning och stöd till beställare. <br/>
        *Verktyg: Scrum, Kanban, TFS.*

        ### [Senior Supporttekniker](/medarbetare/mats)
        Mål: **God service.**<br/>
        Vad: Support till befintliga kunder samt Iteams utvecklingsavdelning.<br/>
        *Verktyg: OP5, Teamviewer, samtliga Microsoft-program. Brandväggar från Clavister och Mikrotik.*

    .col-md-6.visible-xs
      :markdown
        ![Elisabeth](/content/images/ovrigt/elisabeth.jpeg)

        ## 12 veckor på Iteam som praktikant!
 
        En vecka efter att ha gjort min sista arbetsdag här på Iteam tänkte jag försöka mig på att sammanfatta dessa lärorika veckor på företaget.
         
        Men först - här kommer en kort presentation om praktikanten/författaren.
        Jag heter Elisabeth och 26 år gammal. Pluggar [Applikationsutveckling.NET](http://www.plushogskolan.se/Utbildning/Utbildningar/Applikationsutvecklare.aspx), en YH-utbilning på Teknikhögskolan i Liljeholmen. 
        Innan jag började utbildningen hade jag aldrig skrivit en rad kod i hela mitt liv, så jag började i princip från scratch med att skriva .
         
        Under utbildningen varvas kurser med LIA (Lärande i Arbete), en variant av praktik där tanken är att man som elev ska få en inblick hur det kan se ut på en arbetsplats samt att få chansen att testa sina nya kunskaper.
        Och nu, efter ca en termin med kurser var det dags att ge sig ut på LIA och få ett smakprov på hur en programmerare jobbar hos Iteam.
         
        Hos Iteam har jag i princip varit som en i teamet, även om det skiljde sig eoner kunskapsmässigt mellan dem och mig. Men som praktikant är man ju trots allt där för att lära.
        Och lärt mig har jag! Hade turen att få sitta med på två vitt skilda projekt och ta mig an lite olika uppgifter i både front- och backend.
        Jag har även fått delta i dailys med kunder, varit med på retrospektives och planeringar och såklart fått koda!
         
         
        Här kommer en liten summering av vad jag har lärt mig under min tid:
        - Det finns mycket annat runt själva programmeringen som en utvecklare måste göra; planering, möten, sprintreviews,tidsrapportering, etc.
        - Skillnaden mellan olika projekt kan vara stor. De kan ha mer eller mindre javascript, olika CMS, plugins,etc.
        - Att skriva ett test till en funktion kan vara minst lika meckigt som att skriva själva funktionen.
        - Att ge sig på att skriva en recursion kan vara lätt huvudvärksframkallande.  
        - Man blir aldrig fullärd. Google is your friend.
        - Programmerare kan vara väldigt sociala och roliga. Stort tack till Iteam för att de spräckte min fördom. :)
         

        För mig som student har LIA:n varit ovärderlig, för det finns mycket man lär sig på arbetsplatsen som skolan inte lär ut (se alla summeringspunkter ovan). Och framförallt kommer inte arbetslivet att kännas som en chock när man ger sig ut i den efter skolan.  
         
        Det har kort sagt varit en härlig tid med härliga (och extremt kunniga) människor. Ett stort tack till hela Iteam-gänget!
         
        // Elisabeth, student på Teknikhögskolan
