---
title: Karriär
description: 'Iteam är en teknikbyrå med kreativa lösningar. Vi förverkligar dina idéer.'
keywords: ''

layout: section
tags: ['intro', 'page']
pageType: "karriar"
pageIndex: 4
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/isolde.jpg"
background: 'invert'

chevron: true
---

row-fluid#career
  .row
    .col-md-6
      :markdown
        ##Värde, kvalitet och gemenskap
        För oss handlar arbetet varje dag om driva våra kunders affärer och lösningar framåt. Samtidigt som vi vill utvecklas. Värde, kvalitet och gemenskap är självklarheter hos oss. Gemenskapen är vårt kitt och det som gör vår organisation platt och prestigelös.

        ## Varför vi gillar att jobba på Iteam
        * Alla kollegor älskar teknik
        * Lab & träning är alltid inplanerat
        * Gemensam måndagsfrukost med rullande schema för ansvaret
        * Kontoret ligger mitt i stan och utsikten är kanon
        * Vi spelar ofta rundpingis
        * Vi har planerade AW's en gång i månaden och en del oplanerade
        * Vi tillämpar flex och vi har 6 veckors semester
        * Övertid är inget som förväntas av oss
        * Alla delar på julbonus varje år och vi har generöst friskvårdsbidrag
        * Vi går i strumplästen och vi skrattar

      #opportunities
        h2 Just nu söker vi
        ul
          each career in getCollection('ledigatjanster').toJSON()
            if !!career.title
              li
                a.title(href=career.url)= career.title
                p!= career.summary

      :markdown
        ## Vi älskar spontanansökningar
        Vi söker alltid nya kollegor som är engagerade. Du brinner gärna för dina privata projekt vid sidan om Iteam, och du pysslar gärna med dina egna grejer för att utvecklas. Det är lätt att säga att vi söker talang, vilket vi såklart gör, men vi vill fokusera på personligheter som bidrar.<br/>
        Är du intresserad av oss, tveka inte att kontakta [Sophie Raland Wesslau](/medarbetare/sophie).

    .col-md-5.col-md-offset-1.our-roles
      :markdown

        ## Våra befintliga roller

        ### [Senior Webbutvecklare](/medarbetare/johanna)
        Mål: **Stabilitet & trygghet.**<br/>
        Vad: Ny-/produktutveckling (Scrum). Förvaltning. (Kanban). Tech lead i våra projektteam. Devops för miljöer och releasehantering.<br/>
        *Verktyg: Proof of concept. .NET, Node.js, Angular.JS, SQL/NoSQL. Automatisk och manuell testning.*

        ### [Technical Creative Director](/medarbetare/johan)
        Mål: **Innovation.**<br/>
        Vad: Rådgivning till produktägare, beställare eller externa utvecklingsteam. Tech lead i våra projektteam och/eller tekniskt stöd till Senior webbutvecklare. Devops.<br/>
        *Verktyg: Labb. Omvärldsbevakning. Förstudie. Konceptutveckling. Proof of concept. .NET, Node.js, Angular.JS, SQL/NoSQL. Automatisk och manuell testning.*

        ### [Frontendutvecklare](/medarbetare/rickard)
        Mål: **Enkelhet.**<br/>
        Vad: Ny-/produktutveckling (Scrum). Förvaltning. (Kanban)<br/>
        *Verktyg: Proof of concept. HTML5, CSS3, LESS, Angular.JS, SQL/NoSQL. Automatisk och manuell testning.*

        ### [Projektledare](/medarbetare/maria)
        Mål: **Kontroll.**<br/>
        Vad: Ny-/produktutveckling samt rådgivning och stöd till beställare. <br/>
        *Verktyg: Scrum, Kanban, TFS.*

        ### [Senior Supporttekniker](/medarbetare/mats)
        Mål: **God service.**<br/>
        Vad: Support till befintliga kunder samt Iteams utvecklingsavdelning.<br/>
        *Verktyg: OP5, Teamviewer, samtliga Microsoft-program. Brandväggar från Clavister och Mikrotik.*