---
layout: 'default'
title: 

topImage: "/content/images/section-topbilder/robots-bw-cropped.jpg"
backgroundDark: true
---

.container
  #startpage.row-fluid

    .row
      h1 Omöjligt är bara början

    .row-fluid
      .span7
        :markdown

          Vi gillar tuffa utmaningar och jobbar bäst i team.

          Iteam grundades 1995 utifrån en passion för teknik och en dröm. Det visade sig att hela världen går att förbättra tack vare människor som vågar drömma.

          Vi tror att ett litet team med noga utvalda uppgifter och agila arbetssätt kan prestera bättre än många.

ul.image(
  rn-carousel
  rn-carousel-indicator
)
  //- Holder for all case-sites
  each showcase in getShowCase()
    if !!showcase.topImage
      li(style = "background-image:url(" + showcase.topImage + ");")
        .layer
          .wrapper(class = shouldWeUseADarkBackground(showcase))
            a.case-title(href = showcase.url, target = "_blank")= showcase.title
            br
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title
