---
layout: 'default'
title: 'Iteam.se - vi förverkligar drömmar med teknik'
backgroundImage: '/content/images/parkering.jpg'
---

// Example row of columns.
.row-fluid#startpage
  .span12
    article.news
      p: :markdown
      |  This is a UNIX system. Do you:
      |     a) know this
      |     b) ???


      p: :markdown
      |   Vi gör det vi gör för att vi älskar teknik. Inte på ett prylgalet
      |   måste-ha-sätt där vi jämt köper nya leksaker bara för att de är coola*. Mer på ett “Det där måste gå att göra bättre, jag tror jag vet hur”-sätt. Eller ett “Det där är omöjligt. Låt mig försöka”-sätt.

      |   Vi bygger allt från webbar till e-handel, bot:ar, strömmande musiktjänster
      |   och … Eftersom vi älskar teknik och problem, bygger vi det vi bygger så att tekniken inte syns. För vi förstår att alla inte är som vi. Våra kunders kunder vill oftast inte se teknik. De vill se saker som funkar. Det är sånt vi löser.

      | * Vi ljög
      |  förresten om prylarna. Vi köper visst allt som är nytt och coolt.