---
layout: 'default'
title: 'Iteam.se - vi förverkligar drömmar med teknik'
instagram: iteam1337
dontIndexInAnyCollection: true
---

// Example row of columns.
.row-fluid#startpage
  .span12
    article.news
      h2 Vi älskar teknink
      p Iteam är en teknikbyrå med IT-support i Stockholm. Vi utvecklar smarta webblösningar som t ex communities, intranät och integration och vi hjälper dig med dina IT-frågor. Iteam förverkligar drömmar med teknik.
 
.row-fluid
  .span6
    h2 Senaste från bloggen
    ul.linklist
      each doc in getCollection('blogg').toJSON()
        li
          a(href=doc.url)= doc.title

.row-fluid(ng-controller="WejayCtrl", ng-show="!!nowplaying")
  .span6#nowplaying
    a(href="https://github.com/Iteam1337/Wejay")
      img#wejay(src="/content/images/wejay.png")
    .info
      p Just nu i högtalarna hos oss
      a(ng-href="{{nowplaying.artistUrl}}") {{nowplaying.artist}}
      a(ng-href="{{nowplaying.trackUrl}}") {{nowplaying.track}}

      .row-fluid
  .span12
    h2 Iteams instagram

instagram(name= document.instagram, max=6)
