---
layout: 'default'
title:

topImage: "/content/images/section-topbilder/start.JPG"
backgroundDark: true

introHeading: >
  För nio år sedan fanns inte Youtube.
introSubheading: >
  Jobba med oss för att bygga framtidens företag och tjänster.
  Bläddra bland våra case.
---

ul.image(
  rn-carousel
  rn-carousel-indicator
)

  li(style="background-image:url(" + document.topImage + ")")
    .layer
      .wrapper(class = shouldWeUseADarkBackground(document))
        h1= document.introHeading
        h2= document.introSubheading

  //- Holder for all case-sites
  each showcase in getShowCase()
    if !!showcase.topImage
      li(style = "background-image:url(" + showcase.topImage + ");")
        .layer
          .wrapper(class = shouldWeUseADarkBackground(showcase))
            a.case-title(href = showcase.url, target = "_blank")= showcase.title
            br
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title

.container
  #startpage.row-fluid

    .row-fluid
      .span12
        :markdown
          Vi utvecklar din idé eller din dröm med kärlek.

    .row-fluid
      .span12
        h2 Följ med oss på Instagram

        instagram(
          name = "iteam1337"
          max = "4"
        )