---
layout: 'default'
title: 'Iteam.se | Omöjligt är bara början'
topImage: /content/images/robots.jpg

topImage: "/content/images/main/robots-bw-cropped.jpg"
backgroundDark: true
---

.row-fluid#startpage
  article.news
    h1 Omöjligt är bara början
    h2 Iteam är en teknikbyrå med fokus på avancerade system.
    p Vi gillar tuffa utmaningar och jobbar bäst i team.
    p
      :markdown
        Iteam grundades 1995 utifrån en passion för teknik och en dröm. Det visade sig att hela världen går att förbättra tack vare människor som vågar drömma.

        Vi tror att ett litet team med noga utvalda uppgifter och agila arbetssätt kan prestera bättre än många stora konsultföretag.
