---
layout: 'default'
title: 'Iteam.se | Omöjligt är bara början'
backgroundImage: http://www.moillusions.com/wp-content/uploads/2010/06/Lego-Impossible-Object-4.jpg
---

.row-fluid#startpage
  .span8
    article.news
      h1 Omöjligt är bara början
      h2 Iteam är en teknikbyrå med fokus på avancerade system. Vi gillar tuffa utmaningar och jobbar bäst <a href="http://instantrimshot.com">i team</a>.
      p
        :markdown
          Iteam grundades 1995 utifrån en passion för teknik och en dröm. Det visade sig att hela världen går att förbättra med tack vare människor som vågar att drömma.

          Vi tror att ett litet team med noga utvalda uppgifter och agila arbetssätt kan prestera bättre och snabbare än de flesta stora konsultföretagen.