---
layout: 'default'
title: 'Iteam.se - vi förverkligar drömmar med teknik'
backgroundImage: http://www.moillusions.com/wp-content/uploads/2010/06/Lego-Impossible-Object-4.jpg
---

.row-fluid#startpage
  .span6
    article.news
      h1 Omöjligt är bara början
      h2 Iteam är en teknikbyrå med fokus på avancerade system. Vi gillar tuffa utmaningar och jobbar bäst
        a(href="http://instantrimshot.com") i team.
      p
        :markdown
          Iteam startades 1995 utifrån en passion för teknik och en dröm, det visar sig att hela världen går att förbättra med hjälp av människor som vågar att drömma.

          Vi tror att ett litet team med noga utvalda uppgifter och agila arbetssätt kan prestera bättre och snabbare än de flesta stora konsultföretagen.