--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h1 Sveriges Bästa Teknikbyrå
  p: :markdown
    Iteam är en teknikbyrå i Stockholm. Vi utvecklar smarta webblösningar som t ex communities, e-handel och intranät.

    Vi erbjuder även en komplett IT-avdelning som planerar, underhåller och övervakar din IT-miljö.
  .btn.btn-success.pull-right Kolla igenom våra case     
// Example row of columns.
.row
  .span4
    h2 Docpad
    p DocPad takes that good ol' simple approach of writing files and wraps it with the best modern innovations, providing an awesome intuitive, liberating and empowering solution for HTML5 web development.</p>
    p: a.btn(href="https://github.com/bevry/docpad") Visit Website
  .span4
    h2 Twitter Bootstrap
    p Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites. It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</p>
    p: a.btn(href="http://twitter.github.com/bootstrap/") Visit Website
  .span4
    h2 Twitter Bootstrap
    p Bootstrap is a toolkit from Twitter designed to kickstart development of webapps and sites. It includes base CSS and HTML for typography, forms, buttons, tables, grids, navigation, and more.</p>
    p: a.btn(href="http://twitter.github.com/bootstrap/") Visit Website
