---
layout: 'default'
title: 'Iteam.se - vi förverkligar drömmar med teknik'
instagram: iteam1337
dontIndexInAnyCollection: true
---

// Example row of columns.
.row-fluid#startpage
  .span12
    article.news
      h2 Vi älskar teknink
      p Iteam är en teknikbyrå i Stockholm. Vi utvecklar smarta webblösningar som t ex communities, intranät och integration. Iteam förverkligar drömmar med teknik.
     

 

.row-fluid
  .span6
    h2 Senaste från bloggen
    p På vår blogg kan du läsa om våra medarbetares lärdomar och reflektioner
    ul.linklist
      each doc in getCollection('blogg').toJSON()
        li
          a(href=doc.url)= doc.title
  .span6
    h2 Senaste nyheter
    p Här följer du våra senaste pressmeddelanden, våra kunders senaste nyheter och senaste branschnytt.
    ul.linklist
      each doc in getCollection('blogg').toJSON()
        li
          a(href=doc.url)= doc.title

.row-fluid(ng-controller="WejayCtrl", ng-show="!!nowplaying")
  .span6#nowplaying
    a(href="https://github.com/Iteam1337/Wejay")
      img#wejay(src="/content/images/wejay.png")
    .info
      p Just nu lyssnar vi på
      a(ng-href="{{nowplaying.artistUrl}}") {{nowplaying.artist}}
      a(ng-href="{{nowplaying.trackUrl}}") {{nowplaying.track}}

instagram(name= document.instagram, max=6)
