---
layout: 'default'
title:

topImage: "/content/images/section-topbilder/start.JPG"
backgroundDark: true

introHeading: >
  För sju år sedan fanns inte Facebook.
introSubheading: >
  Jobba med oss för att bygga framtidens företag och tjänster.
  Bläddra bland våra case.
---

ul.image(
  rn-carousel
  rn-carousel-indicator
)

  li(style="background-image:url(" + document.topImage + ")")
    .layer
      .wrapper(class = shouldWeUseADarkBackground(document))
        h1= document.introHeading
        h2= document.introSubheading

  //- Holder for all case-sites
  each showcase in getShowCase()
    if !!showcase.topImage
      li(style = "background-image:url(" + showcase.topImage + ");")
        .layer
          .wrapper(class = shouldWeUseADarkBackground(showcase))
            a.case-title(href = showcase.url, target = "_blank")= showcase.title
            br
            if !!showcase.sections
              each section, i in showcase.sections
                - posClass = i !== 0 ? "separator-before" : ""
                - section = getMetadataFrom(section)
                a.section(class = posClass, href = section.url, target = "_blank")= section.title

.container
  #startpage.row-fluid

    .row-fluid
      .span7
        :markdown

          Våra beställare får ett av våra team till sitt förfogande. Teamet bidrar med rådgivning, strategi, idéarbete och systemutveckling.

          Utvecklarna lever och andas teknik och vägleder projektets vidareutveckling hela vägen fram till lösningen. Lösningen formas tillsammans med våra beställare.

          Underhållet av lösningen tar våra Supporttekniker tar hand om.

      .span4.offset1
        instagram(
          name = "iteam1337"
          max = "4"
        )