---
layout: 'default'
title: 'Iteam.se - vi förverkligar drömmar med teknik'
instagram: iteam1337
dontIndexInAnyCollection: true
---

.row-fluid#startpage
  .span6
    article.news
      h2 Vi förverkligar drömmar med teknik
      p Genom att erbjuda goda råd, teknisk spjutspets och driftexpertis förverkligar vi din dröm. Tillsammans med oss - i ditt projekt - kan du få uppleva värdet av hög kvalitet, service och innovation.

  .span6#nowplaying(ng-controller="WejayCtrl", ng-show="!!nowplaying")
    a(href="https://github.com/Iteam1337/Wejay")
      img#wejay(src="/content/images/wejay.png")
    .info
      p Just nu lyssnar vi på
      a(ng-href="{{nowplaying.artistUrl}}") {{nowplaying.artist}}
      a(ng-href="{{nowplaying.trackUrl}}") {{nowplaying.track}}
