---
layout: default
---
include ../jade_includes/mixin.jade

- category = document.url.split("/")[2]

h1.main-title(style=shouldWeUseADarkBackground())= capitalizeFirstChar(category)

.row-fluid
  article#post.post
    .page-content
      .left-part
        each doc in getCollection("blogg_" + category).toJSON()
          mixin blogg(doc)