---
layout: default
---

.row-fluid(make-pretty)
  h1.main-title(style=shouldWeUseADarkBackground())= document.title

  article#post.post
    div.post-date= document.date.toDateString()
    .post-content!= content
    .next
      a(href="")
    .post-author
      if document.author
        include ../jade_includes/author
