---
layout: default
---
include ../mixins_and_partials/jade_includes/mixin.jade

h1.main-title(title,class=shouldWeUseADarkBackground())= capitalizeFirstChar(document.url.split("/")[2])

.row-fluid
  article#post.post
    .page-content
      .left-part
        each doc in getCurrentBlogCategoryAsJSON()
          mixin blogg(doc)

    .pagination
      mixin pagination(document.page)