---
layout: default
---

h1.main-title(style=shouldWeUseADarkBackground())= document.title

.row-fluid(make-pretty)

  article#post.single-post

    .page-content
      .left-part
        .post-content!= content

      .right-part
        .post-date= toDateString(document.realDate || document.date, "short")
        .post-author
          if document.author
            include ../jade_includes/author
