---
layout: default
---

- var backgroundDark = !!document.backgroundDark ? "color:white;" : "";
h1.main-title(style=backgroundDark)= document.title

article#case.row-fluid
  .about

    .content
      .text!= content

      .information
        if (document.team)
          include ../jade_includes/team

        if (document.readmorelinks)
          include ../jade_includes/readmore

        if (document.imageGallery)
          include ../jade_includes/image_gallery

        if (document.tags)
          include ../jade_includes/related_tags

          include ../jade_includes/twitter_tags