---
layout: default
---

article#post.case.row
  .span3
    img(src=document.image)
  .span9
    h1= document.title
    .post-content!= content
    if (document.team)
      ul
        each member in document.team
          li=member


