---
layout: default
---

article#coworker(ng-controller="CoworkerCtrl")
    
  .row-fluid
    .image
      img(src=document.image)
    .information
      h1= document.title
      = document.jobTitle
      != content
    .social-media
      if document.twitter
        h2 Twitter
        a(href="http://twitter.com/" + document.twitter) @
          =document.twitter

      if document.linkedin
        h2 LinkedIn
        a(href="http://linkedin.com/in/" + document.linkedin)
          =document.linkedin

      if document.instagram
        h2 Instagram
        a(href="http://instagram.com/" + document.instagram) @
          =document.instagram

      if document.github
        h2 GitHub
        a#githubuser(href="http://github.com/" + document.github)
          =document.github
    ul.github
      li(ng-repeat="git in github")
        .title {{git.actor.login}} pushed to {{git.repo.name}}
        .time  {{git.created_at}}


      