---
layout: default
topImage: "/content/images/section-topbilder/historia.JPG"
---

h1(title,class=document.background)= document.title

.row-fluid#timeline-embed

script.
  var callback_timeout;
  document.ready = function() {
    createStoryJS({
      width: "100%",
      height: "750",
      source: {
        !{content}
      },
      embed_id: "timeline-embed",
      css: "/content/styles/timeline/timeline.css",
      js: "/content/scripts/timeline/timeline-min.js",
      lang: "/content/scripts/timeline/sv.js"
    });
  };