---
layout: default
standalone: true
---

h1(title,class=document.background)= document.title

.row-fluid(make-anchors)
  #page.page.job
    article.page-content
      .col-md-7!= content
      .col-md-5.right-coloumn
        h2 Krav
        .row
          :markdown=document.krav
        h2 Meriterande
          :markdown=document.meriterande
        h2 Anstallningsform
          :markdown=document.anstallningsform
