---
layout: default
---

div.row-fluid(make-anchors, ng-controller="AboutCtrl")
  div#page.page
    h1.main-title(style=shouldWeUseADarkBackground())= document.title
    article.page-content!= content

    if (document.pageType === 'Service')
      include ../jade_includes/service

    else if (document.pageType === 'karriar')
      include ../jade_includes/karriar

    else if (document.pageType === 'kontakt')
      include ../jade_includes/kontakt