---
layout: default
---

div.row-fluid(make-anchors, ng-controller="AboutCtrl")
  div#page.page
    h1= document.title
    article.page-content!= content
    
    if (document.pageType === 'Service')
      div#connectedCases
        .title Relaterade case
        ul
          each cases in getCollection('cases').toJSON()
            if cases.tags
              each tag in cases.tags
                if tag === document.title.toLowerCase()
                  li
                    a(href=cases.url)= cases.title

    if (document.pageType === 'Feedback')
      div#sendFeedback
        p hej