---
layout: default
---

h1.main-title(style=shouldWeUseADarkBackground())= document.title

.row-fluid(make-anchors, ng-controller="AboutCtrl")
  #page.page
    article.page-content
      .text!= content

      .info
        if (document.pageType === 'Service')
          include ../jade_includes/service

        else if (document.pageType === 'karriar')
          include ../jade_includes/karriar

        else if (document.pageType === 'kontakt')
          include ../jade_includes/kontakt