---
layout: default
---

div.row-fluid(make-anchors)
  div#page.page
    h1= document.title
    article.page-content!= content
    

    div#connectedCases
      .title Relaterade case
      ul
        each cases in getCollection('cases').toJSON()
          each tag in cases.tags
            if tag === document.title.toLowerCase()
              li
                a(href=cases.url)= cases.title