---
layout: default
---

h1(title,class=document.background)= document.title

.row-fluid(make-anchors)
  #page.page
    article.page-content

      if (document.pageType === 'Service')
        .span6!= content
        .span6
          h4!= document.tagHeader
          include ../jade_includes/service
      else
        .span12!= content