---
layout: default
standalone: true
---

h1(title,class=document.background)= document.title

.row-fluid(make-pretty)
  article#post.post
    .post-date= document.date.toISOString().split('T')[0]
    h2.post-title= document.title
    .post-content!= content
    .post-author
      if document.author
        include ../jade_includes/author
