---
title: Erbjudanden
layout: section
tags: ['intro', 'page']
pageIndex: 1
subpages: 'erbjudanden'
dontIndexInAnyCollection: true
---

.row-fluid
  each doc in getCollection('erbjudanden').toJSON()
    .offer
      a(href=doc.url)
        h2= doc.title
      
      p= doc.summary