#callMeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='callMeModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Ring mig
      .modal-body
        p Fyll i ditt telefonnummer om du vill bli uppringd av oss!
        input
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') &Aring;ngra
        button.btn.btn-primary(type='button') Ring mig