---
title: Case
layout: cases
tags: ['intro', 'page']
pageIndex: 0
#subpages: 'case'
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/case-eller-nagot-bw-cropped.jpg"
backgroundDark: true
---

h2 Vi vill vara med och förändra
:markdown
 Sedan 1995 har vi arbetat med en stor variation av uppdrag.
 Vi är stolta över våra lösningar och nedan finns ett axplock av dem.
 Många av våra beställare är vad vill kallar Cowgirls/Cowboys, det vill säga att de är ute efter en förändring när de kommer till oss. Något ska skapas från grunden eller ska göras om på nytt, med en smartare lösning.
 Vi har arbetat med vitt skilda projekt inom bygg–, telekom–, matchmaking–, musik–, bolagsrådgivnings– och bygg/home improvement–branschen.
