---
title: Case
layout: cases
tags: ['intro', 'page']
pageIndex: 0
#subpages: 'case'
dontIndexInAnyCollection: true

topImage: "/content/images/section-topbilder/case-eller-nagot-bw-cropped.jpg"
backgroundDark: true
---

h2 Vi bygger verksamheter, affärsområden och nya företag.
:markdown
 Sedan 1995 har vi arbetat med en stor variation av uppdrag.
 Vi är stolta över våra lösningar och nedan finns ett axplock av dem.
 Våra beställare har i uppdrag att skapa värde, utmana konkurrenter och öka tillväxt och lönsamhet i sina bolag. Dom har en sak gemensamt - dom är ute efter en förändring när de kommer till oss.
 Vi har levererat utmanande tjänster, webbar och verktyg i flera branscher - bygg & byggmaterial, telekom–, dating–, jobb & utbildning-, musik–, ekonomi och juridik.
