---
title: Case
header: 
description: 'Se några av de projekt vi är stolta över'
keywords: ''
standalone: true

layout: cases
tags: ['intro', 'page']
pageIndex: 0
dontIndexInAnyCollection: true

topImage: "http://i.imgur.com/iMIeG.gif"
background: 'invert'

chevron: true
---

h2 Vi digitaliserar drömmar
:markdown
  Vi har funnits sedan 1995 och har gjort projekt inom många branscher som vi gärna visar dig på ett [möte](../medarbetare/christian), nedan finns ett axplock. Ofta består ett projekt av en stor teknisk utmaning i kombination med ett affärsdrivet tänk.
